.header {
  flex: auto;
  font-size: 30px;
  margin-bottom: 40px;
}

.row {
  margin-top: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}

#signUpCard {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%; // need to be refactor
  max-width: 400px;
}

.externalRegister {
  width: 80%;
  margin-left: 10%;
  color: white;
}

.inputForm {
  width: 100%;
}

.logingForm {
  margin-top: 10px;
}

.registerButton {
  display: block;
  margin-left: auto;
  background-color: rgb(197, 127, 169);
  color: white;
}

.img-size {
  max-width: 100px;
  max-height: 50px;
}

#backToLogin{
  font-size: 1em
}
