.main-container {
  height: 100%;
  width: 100%;
  .main-card{
    position: absolute;
    width: calc(100% - 4rem);
    min-width: 1043px;
    top: 2rem;
    left: 2rem;

    .title {
      height: 20%;
      width: 96%;
      margin-left: auto;
    }

    .content {
      height: 80%;
      width: 92%;
      display: flex;
      margin-left: auto;
      margin-right: auto;

        .front-example {
          height: 100%;
          min-width: 500px;
          padding: 5px;

        .images {
          position: relative;
          display: grid;
          width: 480px;

          .coverPh {
            width: 480px;
            height: 150px;
          }

          .profilePh {
            border-radius: 50%;
            outline: 0;
            margin: 15px 0 15px 15px;
            width: 120px;
            height: 120px;
            z-index: 1;
            position: absolute;
          }

          .frontPhotos-container {
            height: 100%;
            display: flex;
            flex-wrap: wrap;

            .storefrontPhoto {
              margin: 5px 5px 0px 5px;
              height: 150px;
              width: 150px;
            }
          }
        }
      }


      .articles-selector {
        height: 100%;
        width: 60%;
        padding: 5px;
        margin-left: auto;

        .selectHeader {
          display: flex;
          align-items: center;

          .searchBar {
            margin-left: auto;
            width: 50%;
          }
        }
      }
    }
  }
}

mat-table {
  height: 29.54rem;
  overflow: auto;
}

// ------------------------- loading bar -----------------------------
::ng-deep .mat-progress-bar-fill::after {
  background-color: #9c27b0;
}

::ng-deep .mat-progress-bar-buffer {
  background: rgb(218, 154, 230);
}

::ng-deep .mat-progress-bar {
  border-radius: 0px;
}

.proggressBar {
  margin-top: -1rem;
}
// ----------------------- buttons -----------------------------------

.actions {
  text-align: end;
  margin-top: 1rem;

  .activatedButton {
    // background-color: #bd84c7; color: white;
  }

  .buttonDisabled {
    // background-color: grey; color: white;
  }
}

// --------------------------tabla ------------------------------------
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
.mat-header-cell,
.mat-header-cell button,
.mat-cell {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  padding-top: 0.9rem;
}

mat-header-cell {
  padding-top: 18px !important;
  font-size: 20px;
}

mat-form-field {
  // display: flex !important;
}

.inputs {
  width: 28.2rem;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  width: 100% !important;
}

.formCss {
  display: flex;
  height: 4rem;
}

.frontActions {
  align-self: flex-end;
  height: 4rem;
  padding-top: 0.55rem;
}

/deep/.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #bd84c7 !important;
}
