<div class="page-content mat-typography">
    <div class="spinner-content" *ngIf="!readyToRender">
        <mat-spinner></mat-spinner>
    </div>
    <div class="contenido dinamico" *ngIf="readyToRender && !this.noDats">

    <mat-card class="actions">
        <mat-form-field class="selector" appearance="outline">
            <mat-label>Campaña</mat-label>
            <mat-select (selectionChange)="campaingSelected($event)" [(value)]="selectedCampaing">
              <mat-option *ngFor="let campaing of voucherCampaigns" [value]="campaing">
                {{campaing.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <span>
        </span>
        <button mat-raised-button
                class="activated-button"
                (click)="openCheckVoucher()"
                >Verificar Cupon
        </button>
        <button mat-raised-button
                class="activated-button"
                (click)="openNewVoucher()"
                >Nueva Campaña
        </button>
    </mat-card>

  <div class="spinner-content-graph" *ngIf="!this.graphsLoaded">
      <mat-spinner></mat-spinner>
  </div>
  <div class="graficos" *ngIf="this.graphsLoaded">
    <div class="non-subcribers-likes">
      <mat-card class="card-grafico">
        <mat-icon class="infoTooltip" [matTooltip]="this.nonSubSuccessTooltip" matTooltipPosition="above" matTooltipClass="tooltip">info</mat-icon>
        <app-non-subs-success [used]="usedCount" [nonUsed]="nonUsedCount"></app-non-subs-success>
        <!-- <app-views-by-promotions [level1Articles]="level1Articles" [level2Articles]="level2Articles" [level3Articles]="level3Articles"></app-views-by-promotions> -->
      </mat-card>
    </div>
    <div class="likes-by-age">
        <mat-card  class="card-grafico">
          <mat-icon class="infoTooltip" [matTooltip]="this.byAgeTooltip" matTooltipPosition="above" matTooltipClass="tooltip">info</mat-icon>
          <app-bar-by-age [lessThan18]="lessThan18" [from18to21]="from18to21" [from22to25]="from22to25"  [from26to29]="from26to29"  [moreThan30]="moreThan30"></app-bar-by-age>
        </mat-card>
    </div>
    <div class="likes-by-gender">
      <mat-card  class="card-grafico">
        <mat-icon class="infoTooltip" [matTooltip]="this.genderCounter" matTooltipPosition="above" matTooltipClass="tooltip">info</mat-icon>
        <app-pie-by-gender [maleCounter]="maleCounter" [femaleCounter]="femaleCounter" [otherGenderCounter]="otherGenderCounter"></app-pie-by-gender>
      </mat-card>
    </div>
  </div>
  <div class="lines-used-by-day" *ngIf="this.graphsLoaded">
    <mat-card class="card-grafico-largo">
      <mat-icon class="infoTooltip" [matTooltip]="this.linesTooltip" matTooltipPosition="above" matTooltipClass="tooltip">info</mat-icon>
      <app-lines-days-used [daysOfTheWeek]="this.daysOfTheWeek" [globalUsedByDay]="this.globalUsedByDay" [campaingUsedByDay]="this.campaingUsedByDay"></app-lines-days-used>
    </mat-card>
  </div>
  <div class="table-download">
    <mat-card class="vouchers-table">
      <mat-card-header>
        <mat-card-title>Información de las campañas de cupones</mat-card-title>
        <mat-card-subtitle> En la siguiente tabla encontrará Información referida a todas las operaciones de campañas de cupones que ha realizado en myLook.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tablita mat-elevation-z1" *ngIf="campaignsTableDataSource">
            <table mat-table [dataSource]="campaignsTableDataSource" style="width: 100%;">

              <!-- Inicio Column -->
              <ng-container matColumnDef="Titulo">
                <th mat-header-cell *matHeaderCellDef> Título </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                <td mat-footer-cell *matFooterCellDef> Total </td>
              </ng-container>
              <!-- Inicio Column -->
              <ng-container matColumnDef="FechaInicio">
                <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
                <td mat-cell *matCellDef="let element"> {{element.startDate.toDate() | date: 'fullDate'}} </td>
                <td mat-footer-cell *matFooterCellDef>  </td>

              </ng-container>

              <!-- Fin Column -->
              <ng-container matColumnDef="FechaFin">
                <th mat-header-cell *matHeaderCellDef> Fecha de Fin </th>
                <td mat-cell *matCellDef="let element"> {{ element.dueDate.toDate() | date: 'fullDate'}}</td>
                <td mat-footer-cell *matFooterCellDef>  </td>

              </ng-container>

              <!-- Nivle de promocion Column -->
              <ng-container matColumnDef="TipoCampania">
                <th mat-header-cell *matHeaderCellDef> Tipo de Campaña </th>
                <td mat-cell *matCellDef="let element"> {{getCampaignType(element.campaignType)}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>

              <!-- Precio Final de promocion Column -->
              <ng-container matColumnDef="PrecioFinal">
                <th mat-header-cell *matHeaderCellDef> Precio Final </th>
                <td mat-cell *matCellDef="let element"> {{element.campaignCost | currency:'ARS'}} </td>
                <td mat-footer-cell *matFooterCellDef> {{ this.totalCost | currency:'ARS'}} </td>
              </ng-container>

              <!-- Descargar Column -->
              <ng-container matColumnDef="Descargar">
                <th mat-header-cell *matHeaderCellDef> Descargar </th>
                <td mat-cell *matCellDef="let element">
                  <button  mat-icon-button (click)="downloadCampaign(element)">
                      <mat-icon class="myLookPink">cloud_download</mat-icon>
                  </button>
                </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>

            </table>
          </div>
      </mat-card-content>

    </mat-card>
  </div>

  </div>
   <div *ngIf="readyToRender && this.noDats">

    <mat-card class="actions mat-elevation-z0">
        <span>
        </span>
        <button mat-raised-button
                class="activated-button"
                (click)="openNewVoucher()"
                >Nueva Campaña
        </button>
    </mat-card>

      <h1 class="noDatsMessage">
        No hay registros de campañas de cupones relacionadas a su tienda.
      </h1>
   </div>
</div>
