
.graficos {
  display: flex;
  place-content: center;

  .barras-by-promocion {
    margin: 1rem 1%;
  }

  .torta-reacciones {
    margin: 1rem 1%;
  }
}

.historico {
  margin-top: 1rem;


}

.tablita {
  max-height: calc(30vh);
  overflow: auto;
}

.myLookPink {
color: rgb(189, 132, 199)
}

.infoTooltip {
  position: absolute;
  right: 1rem;
  z-index: 1;
  color: rgb(189, 132, 199);
  cursor: help;
}

/deep/.mat-tooltip {
  font-size: 13px !important;
}

.spinner-content {
  height: calc(83vh);
  vertical-align: middle;
  text-align: -webkit-center;
  display: table-cell;
  width: calc(85vw);
}

.spinner-content-graph {
  height: calc(25vw + 4.8rem);
  vertical-align: middle;
  text-align: -webkit-center;
  display: table-cell;
  width: calc(85vw);
}

:host /deep/.mat-progress-spinner circle, .mat-spinner circle {
  stroke: rgb(189, 132, 199) !important;
}

.page-content {
  overflow: auto;
  height: calc(83vh);
}


.actions {
  text-align: end;
  margin: 1rem;

  .activated-button {
    background-color: #bd84c7; color: white;
  }

  .button-disabled {
    background-color: grey; color: white;
  }
}

button {
  margin-left: 1rem;
}

.card-grafico {
  margin: 1rem 1rem 1rem ;
}

.card-grafico-largo {
  margin: 1rem;
}

.noDatsMessage {
  text-align: -webkit-center;
  margin: 3rem;
  color: #bd84c7;
}

.selector {
  position: absolute;
  left: 43%;
  width: 15rem;
  top: 6px;
}

