<div class="mat-typography" style="position:sticky;top: 0">
       <div class="mainContainer mat-typography">
        <div class="profileDats" [ngStyle]="{ 'background-image': 'url(' + userStore.coverPh + ')'}">
          <div class="profile">
            <img class="profileImg" src={{userStore.profilePh}}>              
            <div class="contact">
              <div>
                <h1 class="profileName" style="font-size: 40px;">{{userStore.storeName}}</h1>
                <p class="direction"> Dirección: {{userStore.storeAddress}} {{userStore.storeAddressNumber}} </p>
                <p class="direction"> {{userStore.storeCity}}, {{userStore.storeProvince}} </p>
                <p class="direction"> Teléfono: {{userStore.storePhone}} </p>
              </div>
              <div>
                <div class="description">
                  <p>{{userStore.storeDescription}}</p>
                </div>
                <div class="socialNetworks">
                  <p>
                    <img src="/assets/facebookLogo.png" height="20px" width="20px">
                    <a class="mediaLink" href="https://www.facebook.com/{{userStore.facebookLink}}" target="_blank"> Facebook</a>
                  </p>
                  <p style="margin-left:15px">
                    <img src="/assets/instagramLogo.png" height="20px" width="20px">
                    <a class="mediaLink" href="https://www.instagram.com/{{userStore.instagramLink}}" target="_blank"> Instagram</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frontArticles">
          <div style="display: flex; flex-wrap: wrap; min-width: 1020px;">
            <div style="padding: 0px; margin: 9px" *ngFor="let art of articles">
              <img height="321" width="321" src={{art.picture}}>
            </div>
          </div>
        </div>
      </div>