<div class="mat-typography gradient" style="top: 0">
       <div class="mainContainer mat-typography">
         <!-- [style.background-image]="'url('+ userStore.coverPh +')'"  -->
        <div class="profileDats"
        >
        <img class="coverPh" src={{userStore.coverPh}}>
        <div class="profile">
            <img class="profileImg" src={{userStore.profilePh}}>
            <div class="contact">
              <div>
                <h1 class="profileName" style="font-size: 40px;">{{userStore.storeName}}</h1>
                <p class="direction"> Dirección: {{userStore.storeAddress}}</p>
                <p class="direction"> Teléfono: {{userStore.storePhone}} </p>
              </div>
              <div>
                <div class="description">
                  <p>{{userStore.storeDescription}}</p>
                </div>
                <div class="socialNetworks">
                  <p>
                    <img src="/assets/facebookLogo.png" height="20px" width="20px">
                    <a class="mediaLink" href="https://www.facebook.com/{{userStore.facebookLink}}" target="_blank"> Facebook</a>
                  </p>
                  <p style="margin-left:15px">
                    <img src="/assets/instagramLogo.png" height="20px" width="20px">
                    <a class="mediaLink" href="https://www.instagram.com/{{userStore.instagramLink}}" target="_blank"> Instagram</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frontArticles">
          <div style="display: flex; flex-wrap: wrap; min-width: 1020px;">
            <div class="noFrontLoaded" *ngIf="articles.length === 0">
              Nuestro más sentido pesame. No se han encontrado datos referentes a su tienda en nuestros servidores de 50Petabytes, o se han perdido durante la trasmision a traves de la fibra optica. Por favor dirijase a la seccion del inventario para renovar la seccion catalogada como vidrieda. Que dios lo bendiga.
                <!-- <img src="/assets/brandNoBackground.png" class="img-size centerImage"> -->
            </div>
            <div style="padding: 0px; margin: 9px" *ngFor="let art of articles">
              <img height="321" width="321" src={{art.picturesArray[0]}}>
            </div>
          </div>
        </div>
      </div>
