
.navbar{
    height: 48px;
    z-index: 10;
  }

#storeName{
    font-family: FuturaHeavy;
    font-size: 2em;
}
#storeDescription{
    font-family: FuturaMediumCondensed;
    font-size: 1em;
}
#storeInformation{
    float: right;
}
.verticalCenter {
    display:flex;
    align-items:center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.noneDecorationLink {
    cursor: pointer;
    color: rgb(88, 128, 180);
    text-decoration-line: none;
}
#mainInfo{
    float: left;
}
.row {
    overflow: hidden; 
}
.matCard{
    width: 90%;
    height: auto;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}

#matCardDesc {
    width: 90%;
    min-width: 90%;
    align-self: flex-end;
    padding-bottom: 0;
    margin-bottom: 0;

}

.avatar{    
    display: flex;
    // margin: 15px auto 15px;
}
.profile{
    overflow: visible;
    // height: 40vh;
    margin-bottom: 15px;
    margin-top: 20px;
    width: 100%;
}

.articlesCard{ 
    width: 90%;
    min-width: 90%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

#articleContainer {
    width: 100%;
    height: calc(100vh - 245px);
}

.imgContainer{
    position: absolute;
    margin-left: 45%;
    display: flex;
    width: 15vw;
    height: 15vw;
    min-width: 150px;
    min-height: 150px;
    max-width: 0;
    max-height: 0;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    align-items: center; /* horizontal */
    justify-content: center; /* vertical */
    border: solid 10px;
    border-color: white;
    z-index: 2;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);

}

#mapDialog{
    padding: 0px;
}
#noPostsYet{
    height: 20%;
    width: 20%;
    margin-left:calc(50% - 10vw); 
}

.articleRow {
    flex-direction: row; 
    box-sizing: border-box; 
    display: flex; 
    //flex: 1 1 0%;
    flex-wrap: wrap;   
}
.articleCard {
    background-color: #E1BEE7;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 3%;
    padding: 3px;
}

#logo {
    width: 92px;
    height: 36px;
    padding-right: 3px;
  }
  
  .right-icon {
    padding: 0 14px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  table{
      width: 100%;
  }

  .img-size {
    max-width: 100px;
    max-height: 50px;
  }
  
  .centerImage {
    margin: auto;
  }

  .socialMediaLink{
      margin: 3px;
      border-radius: 50%;
  }

  .clothImage{
      max-width: 300px;
      max-height: 300px;
      min-width: 50px;
      min-height: 50px;
  }
  .editInfo{
      float: right;
      color: #c7c0c0;
      background-color: white;
      :hover{
          color: black;
          cursor: pointer;
      }
  }

  .profilePic{
    border-radius: 50%;
    height: 32px;
    margin: 8px 0 8px 24px;
    outline: 0;
    vertical-align: top;
    width: 32px;
    margin: 8px 0 8px 8px;
    }


    .mat-toolbar-multiple-rows {
        min-height: 0;      
      }











      #logo {
        width: 92px;
        height: 36px;
        padding-right: 3px;
      }
      
      mat-table {
        height: calc(100vh - 104px);
        overflow: auto;
      }
      
      .navbar{
        height: 48px;
        z-index: 10;
      }
      
      .right-icon {
        padding: 0 14px;
      }
      
      .spacer {
        flex: 1 1 auto;
      }
      
      table{
          width: 100%;
      }
      
      #uploadArticle{  
        background-color: #9C27B0 ;
        color: #ffffff
      }
      
      .img-size {
        max-width: 100px;
        max-height: 50px;
      }
      
      .centerImage {
        margin: 0 auto;
      }
      
      .actionIcon{
        color: #9C27B0;
        z-index: 9;
      }
      
      .stickyNavbar{
        background-color: #E1BEE7;
        height: 56px;
      }
      
      .profilePic{
      border-radius: 50%;
      height: 32px;
      margin: 8px 0 8px 24px;
      outline: 0;
      vertical-align: top;
      width: 32px;
      margin: 8px 0 8px 8px;
      }
      
      .mat-toolbar-multiple-rows {
        min-height: 0;
      }
      
      .mat-cell, .mat-footer-cell {
        min-width: 111px;
        padding-left: 1vw;
      }
// -------------------------------------------------------------------
.mainContainer{
    max-width: 1000px;
    width: calc(80vw);
    height: calc(100vh - 48px);
   // background-color: red;
    margin-left: auto;
    margin-right: auto;
}

.profileDats{
   // background-color: green;
    height: 30vh;
    min-height: 292px;
    min-width: 1000px;
}

.profileImg{
    border-radius: 50%;
    outline: 0;
    margin: 8px 0 8px 8px;
    width: 200px; 
    height: 200px;
}

.profile{
    margin-left: 60px;
    padding-top: 30px;
    margin-top: 0;
    display: flex;
}

.profileName{
    padding-top: 10px
}

.contact{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    display: flex;
    margin-left: 50px;
    padding: 20px;
    width: 60%;
}

.direction{
    font-size: 20px;
}

.frontArticles{
    width: 110%;
    margin-top: 8px;
    margin-left: -8px;
}

.description{
    width: 350px;
    height: 150px;
    overflow: auto;
    margin-left: 40px;
}

.socialNetworks{
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
}

.mediaLink{
    text-decoration: none;
    color: #6a99ff;
    font-size: 20px;
}