#logo {
    width: 92px;
    height: 36px;
    padding-right: 3px;
  }


  .navbar{
    height: 48px;
    z-index: 10;
  }

  .right-icon {
    padding: 0 14px;
  }
  .spacer {
    flex: 1 1 auto;
  }

  .profilePic{
    border-radius: 50%;
    height: 32px;
    margin: 8px 0 8px 24px;
    outline: 0;
    vertical-align: top;
    width: 32px;
    margin: 8px 0 8px 8px;
  }

  .pageContent{
    max-width: 1707px;
    width: 100%;
    height: calc(100vh - 49px);
    display: flex;
    // background-image: linear-gradient(to top, #fdcbf11a 0%, #fdcbf125 1%, #e6dee938 100%);
  }

  .mat-toolbar-multiple-rows {
    min-height: 0;
  }

  .requestList{
    width: calc(12vw);
    min-width: 200px;
    max-height: calc(100vh - 48px);
  }

  .articleList{
    width: calc(10vw);
    min-width: 200px;
    max-height: calc(100vh - 48px);
  }

  .requestTable {
    height: calc(60% - 36px );
    overflow: auto;
  }

  .answeredTable {
    height: 40%;
    overflow: auto;
  }

  .articleTable{
    height: calc(100vh - 48px );
    overflow: auto;
  }

.requestCard {
   width: calc(20vw);
   margin-right: calc(5vh);
   margin-left: calc(5vh);
 }
 .answerCard {
   width: calc(20vw);
   margin-top: calc(5vh);
   margin-right: calc(5vh);
 }

.miniLogo{
  background-size: cover;
}

.spacer {
  flex: 1 1 auto;
}

.mat-row:hover {
  background-color:  rgb(193, 85, 212);
  cursor: pointer;
}

.highlight{
  background-color: rgb(218, 154, 230);
}

.mat-card-image {
  max-height: calc(40vh);
}

.descriptionArea{
  width: 100%;
}

.sendRecoButton{
  background-color: #9C27B0;
  color: white;
}

.mat-select{
  font-size: 15px;
}

.mat-option{
  font-size: 15px;
}

::ng-deep .mat-menu-panel.my-full-width-menu {
  width: calc(12vw);
  min-width: 200px;
}

mat-header-cell {
  display:flex;
  justify-content:center;
 }
