<div class="mat-typography" style="top: 0">
  <div class="pageContent">
  <!-- Recomendations -->
      <div class="requestList">

        <button (click)="$event.stopPropagation()" class="requestList" mat-raised-button [matMenuTriggerFor]="filters">Filtrar
          Recomendaciones</button>
        <mat-menu class="my-full-width-menu" (click)="$event.stopPropagation()" #filters="matMenu" xPosition="after">
          <div style="display:grid">

            <mat-form-field (click)="$event.stopPropagation()" floatLabel="never" style="font-size: 15px; margin-right: auto; margin-left: auto">
              <mat-select (click)="$event.stopPropagation()" [(value)]="selectedCatego" placeholder="Categoria">
                <mat-option (click)="$event.stopPropagation()">Ninguna</mat-option>
                <mat-option (click)="$event.stopPropagation()" *ngFor="let cat of categories" [value]="cat">{{cat}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field (click)="$event.stopPropagation()" floatLabel="never" style="font-size: 15px; margin-right: auto; margin-left: auto">
              <mat-select (click)="$event.stopPropagation()" [(value)]="selectedSex" placeholder="Sexo">
                <mat-option (click)="$event.stopPropagation()">Indistinto</mat-option>
                <mat-option (click)="$event.stopPropagation()" *ngFor="let sex of sexes" [value]="sex">{{sex}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button (click)="filterRecos()" style=" margin-right: auto; margin-left: auto">Filtrar Recomendaciones</button>
          </div>
        </mat-menu>


        <mat-table class="requestTable mat-elevation-z2" [dataSource]="dataSourceRequests" matSort>

          <ng-container matColumnDef="ListaPeticiones">
            <mat-header-cell *matHeaderCellDef> Solicitudes que puede responder </mat-header-cell>
            <mat-cell *matCellDef="let element" style="height: 60px">{{element.title}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsRequests"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsRequests;" [ngClass]="{'highlight': row.FirebaseUID === selectedRowIndex}"
            [ngStyle]="{'background-color': row.FirebaseUID === answeredRequestIndex ? '#ccffcc' : '' }" (click)="showInformationRequest(row)"></mat-row>
        </mat-table>

        <mat-divider></mat-divider>

        <mat-table class="answeredTable mat-elevation-z2" [dataSource]="dataSourceAnswered" matSort>
          <ng-container matColumnDef="ListaPeticiones">
            <mat-header-cell *matHeaderCellDef> Solicitudes que ha respondido!</mat-header-cell>
            <mat-cell *matCellDef="let element" style="height: 60px">{{element.title}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsAnswered"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsAnswered;" [ngClass]="{'highlight': row.FirebaseUID === selectedRowIndex}"
            [ngStyle]="{'background-color': row.FirebaseUID === answeredRequestIndex ? '#ccffcc' : '' }" (click)="showInformationAnswer(row)"></mat-row>
        </mat-table>
      </div>




      <span class="spacer"></span>




      <!--Al seleccionar una fila de las opciones, se despliega una carta con la descripcion-->
      <div *ngIf="selectedRequest.description !== '' ">
        <mat-card class="requestCard">
          <mat-card-header style="max-height: calc(10vh);">
            <img mat-card-avatar src="/assets/noProfilePic.png">
            <mat-card-title>Solicitud de Recomendación.</mat-card-title>
            <mat-card-subtitle>{{selectedRequest.title}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="selectedRequest.requestPhoto" alt="No se adjuntó foto en la solicitud.">
          <mat-card-content style="max-height: calc(30vh); overflow-y: auto;">
            <p> <b>Categoría:</b> {{selectedRequest.category}}.</p>
            <p><b>Datos sobre el talle:</b> {{selectedRequest.size}}.</p>
            <p>{{selectedRequest.description}}.</p>
          </mat-card-content>
        </mat-card>
      </div>

      <!--Carta con nuestra recomendacion-->
      <div *ngIf="selectedRequest.description !== '' ">
        <form [formGroup]="requestAnswerForm">
          <mat-card class="answerCard">
            <mat-card-header>
              <img mat-card-avatar [src]="userStore.profilePh">
              <mat-card-title>Nuestra recomendación!</mat-card-title>
              <mat-card-subtitle>{{userStore.storeName}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="selectedArticle.picture">
            <mat-card-content>
              <mat-form-field class="descriptionArea" style="max-height: calc(25vh); overflow-y: auto;">
                <textarea style="height: calc(15vh);" matInput placeholder="Agrega una descripción para tu sugerencia, los clientes las aprecian!."
                  formControlName="description">{{_descripcion}}</textarea>
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end">
              <button class="sendRecoButton" *ngIf="isRequestSelected" mat-raised-button (click)="sendAnswer()">Enviar
                Recomendación!</button>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>


      <span class="spacer"></span>


      <!-- Prendas del catalogo -->
      <div class="articleList">
        <mat-table class="articleTable mat-elevation-z2 navbar" [dataSource]="dataSourceArticles" matSort>

          <ng-container matColumnDef="PrendasCatalogo">
            <mat-header-cell *matHeaderCellDef> Prendas para sugerir </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index"><img height="150" width="150" src={{element.picture}}></mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsArticles"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsArticles;" [ngClass]="{'highlight': row.articleId === selectedArticleRowIndex}"
            (click)="showInformationArticle(row, i)"></mat-row>
        </mat-table>
      </div>
  </div>
</div>