#logo {
    width: 92px;
    height: 36px;
    padding-right: 3px;
  }


  .navbar{
    height: 48px;
    z-index: 10;
  }

  .right-icon {
    padding: 0 14px;
  }
  .spacer {
    flex: 1 1 auto;
  }

  .profilePic{
    border-radius: 50%;
    height: 32px;
    margin: 8px 0 8px 24px;
    outline: 0;
    vertical-align: top;
    width: 32px;
    margin: 8px 0 8px 8px;
  }

  .pageContent{
    max-width: 1707px;
    width: 100%;
    height: calc(100vh - 49px);
    display: flex;
    // background-image: linear-gradient(to top, #fdcbf11a 0%, #fdcbf125 1%, #e6dee938 100%);
  }

  .mat-toolbar-multiple-rows {
    min-height: 0;
  }

  .requestList{
    width: 16%;
    min-width: 200px;
    max-height: calc(100vh - 48px);
  }

  .articleList{
    width: 13%;
    min-width: 200px;
    max-height: calc(100vh - 48px);
  }

  .requestTable {
    height: calc(60% - 36px );
    overflow: auto;
  }

  .answeredTable {
    height: 44%;
    overflow: auto;
  }

  .articleTable{
    height: calc(100vh - 48px );
    overflow: auto;
  }

.requestCard {
  margin: 3.5rem 5rem 0 1rem;
 }
 .answerCard {
  margin: 3.5rem 1rem 0 0;
 }

.miniLogo{
  background-size: cover;
}

.spacer {
  flex: 1 1 auto;
}

.mat-row:hover {
  background-color: rgba(251, 221, 255, 0.801);
  cursor: pointer;
}

.highlight{
  background-color:  rgba(251, 231, 255, 0.644);
}

.mat-card-image {
  width: 30rem;
  height: 30rem;
  margin: 0;
}

.descriptionArea{
  width: 100%;
}

.sendRecoButton{
  background-color: rgb(189, 132, 199);
  color: white;
}

.mat-select{
  font-size: 15px;
}

.mat-option{
  font-size: 15px;
}

::ng-deep .mat-menu-panel.my-full-width-menu {
  width: calc(12vw);
  min-width: 200px;
}

mat-header-cell {
  display:flex;
  justify-content:center;
 }

.solicitudes {
  font-size: 16px !important;
  position: relative;
}

.mylookPink {
  color: rgb(189, 132, 199);
  position: absolute;
  right: 1rem;
}

.solicitudesIndividuales {
  height: 60px;
  position: relative;
}


/deep/.mat-tooltip {
  font-size: 12px !important;
}

.spinner-content {
  width: 30rem;
  height: 31rem;
  vertical-align: middle;
  text-align: -webkit-center;
  display: table-cell;
}

:host /deep/.mat-progress-spinner circle, .mat-spinner circle {
  stroke: rgb(189, 132, 199) !important;
}

.altLabelPhoto {
  height: 31rem;
  width: 30rem;
  text-align-last: center;
  display: table-cell;
  vertical-align: middle;
}

.tableDisabled {
  pointer-events: none;
  overflow: hidden;
}
