mobile/*.iml
mobile/app/*.iml
mobile/.gradle
mobile/local.properties

mobile/.idea/
mobile/.DS_Store
mobile/build
mobile/captures
mobile/.externalNativeBuild


web/firebase-debug.log
web/functions/package-lock.json

*.apk

mobile/app/debug/output.json

mobile/app/release/output.json
