mobile/*.iml
mobile/.gradle
mobile/local.properties

mobile/.idea/*.ser
mobile/.idea/libraries
mobile/.idea/caches
mobile/.idea/modules.xml
mobile/.idea/workspace.xml
mobile/.idea/gradle.xml
mobile/.DS_Store
mobile/build
mobile/captures
mobile/.externalNativeBuild


