<div class="mat-typography">
  <button mat-mini-fab style="display: block; margin-left: auto; background-color: #ff9800;" (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
  <h3 style="text-align: center">¡ Dale un nuevo look a tu tienda !</h3>
</div>

<div>
  <div [formGroup]="storeForm" style="display: flex;">
    <div style="height: 455px; position: relative;">
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <mat-form-field>
          <input matInput placeholder="Nombre" formControlName="name">
        </mat-form-field>
        <mat-form-field style="width:60%; margin-left: 5%;">
          <textarea matInput placeholder="Descripción" formControlName="desc"></textarea>
        </mat-form-field>
      </div>
      <mat-divider>
      </mat-divider>
      <div style="margin-top: 5%">
        <div fxflex fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field fxflex fxFlex="70%">
            <input matInput placeholder="Dirección" formControlName="address">
          </mat-form-field>
          <mat-form-field fxflex style="margin-left: 5%">
            <input matInput placeholder="N°" formControlName="addressNumber">
          </mat-form-field>
        </div>
        <mat-form-field style="margin-right: 2%">
          <input matInput placeholder="Teléfono" formControlName="phone">
        </mat-form-field>
        <mat-form-field style="width: 90%">
          <input matInput placeholder="Mail" formControlName="mail">
        </mat-form-field>
      </div>
      <mat-divider>
      </mat-divider>
      <div fxflex style="display: block">
        <mat-form-field style="width: 90%;margin-top: 5%">
          <input matInput placeholder="Facebook" formControlName="facebook">
        </mat-form-field>
        <mat-form-field style="width: 90%">
          <input matInput placeholder="Instagram" formControlName="instagram">
        </mat-form-field>
        <mat-form-field style="width: 90%">
          <input matInput placeholder="Twitter" formControlName="twitter">
        </mat-form-field>
      </div>
      <div fxflex style="align-self: flex-end;margin-bottom: 5px" fxLayout="row" fxLayoutAlign="end end">
        <button style="background-color: #9C27B0; color: white" mat-raised-button (click)="saveChanges(storeForm.value)">Guardar</button>
      </div>
    </div>

  </div>

</div>