#logo {
  width: 92px;
  height: 36px;
  padding-right: 3px;
}

mat-table {
  height: calc(100vh - 105px);
  overflow: auto;
}

.navbar{
  height: 48px;
  z-index: 10;
}

.right-icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

table{
    width: 100%;
}

#uploadArticle{  
  background-color: #9C27B0 ;
  color: #ffffff
}

.img-size {
  max-width: 100px;
  max-height: 50px;
}

.centerImage {
  margin: 0 auto;
}

.actionIcon{
  color: #9C27B0;
  z-index: 9;
}