#logo {
  width: 92px;
  height: 36px;
  padding-right: 3px;
}

mat-table {
  height: calc(100vh - 104px);
  overflow: auto;

}

.navbar{
  height: 48px;
  z-index: 10;
}

.right-icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

table{
  background: rgb(179,179,179);
  background: linear-gradient(180deg, rgba(179,179,179,0.22172619047619047) 0%, rgba(250,250,250,0.13769257703081228) 63%, rgba(255,255,255,1) 100%);
}

// .mat-cell[_ngcontent-c10], .mat-footer-cell[_ngcontent-c10] {
//   min-width: 111px;
// }

mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
  padding-left: 0px;
}
#uploadArticle{
  background-color: #bd84c7 ;
  color: #ffffff
}

mat-header-cell {
  padding-top: 18px !important;
}

.img-size {
  max-width: 100px;
  max-height: 50px;
}

.centerImage {
  margin: 0 auto;
}

.actionIcon{
  color: rgb(211, 211, 211);
  z-index: 9;

  &_colored {
    color: #bd84c7;
  }
}

.actionIcon-Promoted {
  color: #bd84c7;
  z-index: 9;
}

.actionIcon-Promoted:hover {
  cursor: default;
}

.promotedRow{
  background-color: #E1BEE7;
}

.stickyNavbar{
  background-color: #E1BEE7;
  height: 56px;
}

.profilePic{
border-radius: 50%;
height: 32px;
margin: 8px 0 8px 24px;
outline: 0;
vertical-align: top;
width: 32px;
margin: 8px 0 8px 8px;
}

.mat-toolbar-multiple-rows {
  min-height: 0;
}

.mat-cell, .mat-footer-cell {
  padding-left: 1vw;
}

// .gradient {
//   background: rgb(179,179,179);

// }
  .mat-header-cell,
  .mat-header-cell button,
  .mat-cell {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }

.backgroundColor {
  width: 100%;
  height: calc(100);
  background: rgba(252,236,252,0.14);
  background: -moz-linear-gradient(top, rgba(252,236,252,0.14) 0%, rgba(251,166,225,0.16) 49%, rgba(255,124,216,0.18) 85%, rgba(253,137,215,0.19) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,236,252,0.14)), color-stop(49%, rgba(251,166,225,0.16)), color-stop(85%, rgba(255,124,216,0.18)), color-stop(100%, rgba(253,137,215,0.19)));
  background: -ms-linear-gradient(top, rgba(252,236,252,0.14) 0%, rgba(251,166,225,0.16) 49%, rgba(255,124,216,0.18) 85%, rgba(253,137,215,0.19) 100%);
  background: linear-gradient(to bottom, rgba(252,236,252,0.14) 0%, rgba(251,166,225,0.16) 49%, rgba(255,124,216,0.18) 85%, rgba(253,137,215,0.19) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#fd89d7', GradientType=0 );
}
