#logo {
  width: 92px;
  height: 36px;
  padding-right: 3px;
}

.right-icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

table{
    width: 100%;
}

#uploadArticle{  
  background-color: #9C27B0 ;
  color: #ffffff
}

.img-size {
  max-width: 100px;
  max-height: 50px;
}

.centerImage {
  margin: 0 auto;
}