

#crp0 {
  max-width: 486px;
  height: 486px;
  margin-left: auto;
  margin-right: auto;
  border-style: double;
  border-color: rgb(189, 132, 199);
}

#crp1 {
  max-width: 735px;
  height: 245px;
  margin-left: auto;
  margin-right: auto;
  border-style: double;
  border-color: rgb(189, 132, 199);
}

.cropButtonOne {
  position: absolute;
  z-index: 99;
  background: rgba(182, 182, 182, 0.9);
  right: 10rem;
  top: 0.3rem;
}

.cropButton {
  position: absolute;
  z-index: 99;
  background: rgba(182, 182, 182, 0.9);
  right: 2.5rem;
  top: 0.3rem;
}

.promotionsTable {
  padding: 1rem 0 0 0;
  margin-top: 12rem;
}

.resize-image {
  position: relative;
}

.buttonDisabled {
  background-color: grey; color: white;
}

agm-map {
  height: 300px;
  width: auto;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #9c27b0;
}

::ng-deep .mat-progress-bar-buffer {
  background: rgb(218, 154, 230);
}

::ng-deep .mat-progress-bar {
  border-radius: 0px;
}

.actions {
  text-align: end;
  margin-top: 1rem;
}

.proggressBar {
  margin-top: -1rem;
}

.configuration {
  height: 100%;
  width: 100%;
  .card-container {
    margin: 2rem;
    min-width: 735px;

    .storeInformation {

      .first-row {
        display: flex;
      }

      .information {
        width: 50%;
      }

      .fullWidth {
        width: 100%;
      }
    }

    .storePhotos {
      width: 50%;
      min-width: 500px;
    }
  }
}

.myLookPink {
  color: rgb(189, 132, 199)
}

.description {
  width: 100%;
  padding: 2rem 2rem 7px
}

.title {
  margin: 1rem 0 0 0;
  text-align-last: center;
}

.activated-button {
  background-color: #bd84c7; color: white;
}

.button-disabled {
  background-color: grey; color: white;
}

.content {
  margin: 2rem 2rem 1.5rem;
  text-align-last: center;

}
