<div class="configuration" *ngIf="myFormGroup">
  <form [formGroup]="myFormGroup" autocomplete="off">
    <mat-card class="card-container">
      <h1>Información sobre tu Tienda</h1>
      <div class="storeInformation">
          <div class="form" >
            <div class="container-table">
              <div>
                <div class="first-row">
                  <div class="storePhotos">
                      <div lyTheme="minima-light" #PrimeraFoto>
                        <h2 class="title">Foto de Perfíl</h2>
                          <div class="resize-image">
                            <div>
                              <button
                                type="button"
                                (keydown.enter)="$event.preventDefault()"
                                class="cropButtonOne"
                                *ngIf="!this.isUpLoading"
                                (click)="cropping0.clean()"
                                (click)="doClean(0, $event)"
                                ly-button
                                appearance="icon"
                              >
                                <ly-icon>close</ly-icon>
                              </button>
                            </div>

                            <ly-cropping class="crp0"
                              #cropping0
                              id="crp0"
                              [config]="myConfig"
                              (cropped)="oncropped($event, 0)"
                              (loaded)="onloaded(0)"
                              (error)="onerror()"
                              class="mat-typography"
                            >
                              <i class="material-icons"> add_photo_alternate </i> Añadir Foto
                            </ly-cropping>
                            <button
                              type="button"
                              style="visibility: hidden; position: absolute"
                              color="accent"
                              (click)="cropping0.crop()"
                              ly-button
                              raised
                            >
                              crop
                            </button>

                            <div lyTheme="minima-light">

                              <input
                                #_fileInput0
                                type="file"
                                (change)="cropping0.selectInputEvent($event)"
                                accept="image/*"
                                hidden
                              />
                            </div>
                          </div>
                        </div>
<!-- ------------------------------------------------------------------------------------------- -->
                        <div lyTheme="minima-light" #FotoPortada>
                          <h2 class="title">Foto de Portada</h2>
                          <div class="resize-image">
                            <div>
                              <button
                                type="button"
                                class="cropButton"
                                *ngIf="!this.isUpLoading"
                                (click)="cropping1.clean()"
                                (click)="doClean(1 , $event)"
                                ly-button
                                appearance="icon"
                              >
                                <ly-icon>close</ly-icon>
                              </button>
                            </div>

                            <ly-cropping class="crp1"
                              #cropping1
                              id="crp1"
                              [config]="myConfigPortada"
                              (cropped)="oncropped($event, 1)"
                              (loaded)="onloaded(1)"
                              (error)="onerror()"
                              class="mat-typography"
                            >
                              <i class="material-icons"> add_photo_alternate </i> Añadir Foto
                            </ly-cropping>
                            <button
                              type="button"
                              style="visibility: hidden; position: absolute"
                              color="accent"
                              (click)="cropping1.crop()"
                              ly-button
                              raised
                            >
                              crop
                            </button>

                            <div lyTheme="minima-light">

                              <input
                                #_fileInput0
                                type="file"
                                (change)="cropping1.selectInputEvent($event)"
                                accept="image/*"
                                hidden
                              />
                            </div>
                          </div>
                        </div>
                        <p>
                          <mat-form-field appearance="outline" class="description">
                            <mat-label>Descripción</mat-label>
                            <textarea matInput
                                      required
                                      maxlength="180"
                                      placeholder="Agrega una breve reseña de tu tienda."
                                      formControlName="storeDescription"
                                      cdkTextareaAutosize
                                      cdkAutosizeMinRows="7"
                                      cdkAutosizeMaxRows="7"
                                      [disabled]="this.isUpLoading"
                                      >
                            </textarea>
                            <mat-hint align="end">{{this.myFormGroup.get('storeDescription').value.length}} / 180</mat-hint>
                            <mat-error *ngIf="this.myFormGroup.get('storeDescription').hasError"> Campo requerido </mat-error>
                          </mat-form-field>
                        </p>
                  </div>
                  <div class="information">
                    <p>
                      <mat-form-field appearance="outline" class="fullWidth">
                        <mat-label>Dirección</mat-label>
                        <input matInput required placeholder="Ej: Avenida Colón 1234" formControlName="storeAddress" #search [disabled]="this.isUpLoading"
                        >
                        <mat-error *ngIf="this.myFormGroup.get('storeAddress').hasError" > Campo requerido </mat-error>
                      </mat-form-field>
                    </p>
                        <div>
                            <agm-map
                              [latitude]="latitude"
                              [longitude]="longitude"
                              [zoom]="zoom"
                            >
                              <agm-marker
                                [latitude]="latitude"
                                [longitude]="longitude"
                                [markerDraggable]="true"
                                (dragEnd)="markerDragEnd($event)"
                              ></agm-marker>
                            </agm-map>
                          </div>
                    <br>
                    <p>
                      <mat-form-field appearance="outline" class="fullWidth">
                        <mat-label>Torre</mat-label>
                        <input matInput placeholder="Ejs: 1 ó A ó Torre Vitacura" formControlName="storeTower" [disabled]="this.isUpLoading">
                      </mat-form-field>
                    </p>
                    <p>
                      <mat-form-field appearance="outline" class="fullWidth">
                        <mat-label>Piso</mat-label>
                        <input matInput placeholder="Ej: 1 ó 1ro" formControlName="storeFloor" [disabled]="this.isUpLoading">
                      </mat-form-field>
                    </p>
                    <p>
                      <mat-form-field appearance="outline" class="fullWidth">
                        <mat-label>Departamento</mat-label>
                        <input matInput placeholder="Ej: 1 ó A" formControlName="storeDept" [disabled]="this.isUpLoading">
                      </mat-form-field>
                    </p>
                    <p>
                      <mat-form-field appearance="outline" class="fullWidth">
                        <mat-label>Teléfono</mat-label>
                        <input
                        onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                        matInput placeholder="Ej: 012-3456789" formControlName="storePhone" [disabled]="this.isUpLoading">
                      </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" class="fullWidth">
                          <mat-label>Facebook</mat-label>
                          <input matInput placeholder="Ej: myLookApp" formControlName="facebookLink" [disabled]="this.isUpLoading">
                        </mat-form-field>
                      </p>
                      <p>
                        <mat-form-field appearance="outline" class="fullWidth">
                          <mat-label>Instagram</mat-label>
                          <input matInput placeholder="Ej: myLookApp" formControlName="instagramLink" [disabled]="this.isUpLoading">
                        </mat-form-field>
                      </p>
                      <p>
                        <mat-form-field appearance="outline" class="fullWidth">
                          <mat-label>Twitter</mat-label>
                          <input autocomplete="new-password" matInput placeholder="Ej: myLookTwitter" formControlName="twitterLink" [disabled]="this.isUpLoading">
                        </mat-form-field>
                      </p>

                </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <mat-accordion>
        <mat-expansion-panel style="width: 46%; min-width: 500px;; margin-left: 2rem;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cambiar contraseña
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="change-password-container">
            <app-change-password [data]="this.dataToSend"></app-change-password>
          </div>

        </mat-expansion-panel>
      </mat-accordion>


      <mat-card-actions class="actions">
          <button
            [disabled]="isUpLoading"
            type="button"

            [ngClass]="{'disabled-button': isUpLoading}"
            mat-raised-button
            (click)="goToProfile()"
            >
            Cancelar
          </button>
          <button
            [disabled]="myFormGroup.invalid || isUpLoading || !isLoadedImage[0] || !isLoadedImage[1] "
            class="myLook-background"
            type="button"

            [ngClass]="{'disabled-button': (myFormGroup.invalid || isUpLoading)}"
            mat-raised-button
            (click)="cropImages(cropping0, cropping1)"
            >
              Actualizar Datos
          </button>
        </mat-card-actions>
        <div class="proggressBar">
          <mat-progress-bar *ngIf="isUpLoading" mode="indeterminate" color="deeppurple-amber"></mat-progress-bar>
        </div>
      </mat-card>
  </form>
</div>
