// .example-card {
//   max-width: 432px;
//   max-height: 634px;
//   margin-left: auto;
//   margin-right: auto;
// }

// p {
//   text-transform: lowercase;
// }

// p::first-letter {
//   text-transform: uppercase;
// }

// .firstToUpper::first-letter {
//   text-transform: uppercase;
// }

// .elForm {
//   max-width: 0px;
//   // margin-left: auto;
//   margin-right: auto;
//   margin-top: 2rem;
// }

// .storeMainInformation {
//   max-height: 120px;
//   overflow: auto;
// }

ly-cropping {
  max-width: 400px;
  height: 400px;
}

.cropButton {
  position: absolute;
  top: 6.2rem;
  z-index: 99;
  left: 23.3rem;
}

.promotionsTable {
  padding: 1rem 0 0 0;
  margin-top: 12rem;
}
//  /* ------------------------------------------------------------------------------------------- */
// .configuration {
//   // background-color: red;
//   display: grid;
//   grid-template-columns: repeat(5, 1fr);
//   grid-auto-rows: minmax(100px, auto);
//   grid-row-gap: 2rem;

//   .storeInformation{
//     // background-color: green;
//     display: inline-grid;
//     grid-column: 1/6;
//     grid-row: 1;
//     .resume {
//       // background-color: pink;
//       grid-column: 1/2
//     }
//     .extraInformation {
//       grid-column: 2/6;
//       grid-row: 1;
//       // background-color: aquamarine;

//       .info-card {
//         margin-left: auto;
//         margin-right: 4rem;

//         .container-table {
//           display: grid;
//           grid-template-columns: repeat(2, 25vw);
//           grid-gap: 10px;
//           grid-auto-rows: minmax(100px, auto);
//           align-items: center;
//           justify-items: center;
//           margin-left: 2rem;

//           .first-column {
//             grid-column: 1/2;
//             grid-row: 1;
//             align-self: stretch;
//             width: calc(23vw);

//           }

//           .second-column {
//             grid-column: 2/3;
//             grid-row: 1;
//             align-self: stretch;
//             width: calc(23vw);
//           }

//           .fullWidth {
//             width: 100%;
//           }
//         }

//         .extraInformationEdit {
//           text-align: end;
//         }
//       }
//     }
//   }

//   .marketingInformation {
//     // background-color: yellow;
//     grid-column: 1/6;
//     grid-row: 2;
//   }

// }

// textarea {
//   resize: none !important;
// }

.configuration {
  height: 100%;
  width: 100%;
  .card-container {
    margin: 2rem;
    min-width: 735px;

    .storeInformation {

      .first-row {
        display: flex;
      }

      .information {
        width: 50%;
      }

      .fullWidth {
        width: 100%;
      }
    }

    .storePhotos {
      width: 50%;
      min-width: 500px;
    }
  }
}

.myLookPink {
  color: rgb(189, 132, 199)
}
