<div class="container mat-typography">
  <!--
    <ngx-spinner bdColor="rgba(255,255,255,1)" size="large" color="#9c27b0" type="ball-grid-pulse"></ngx-spinner>

  -->  
      <div class="mat-typography content" style="position:sticky;top: 0">
        <mat-toolbar >
          <mat-toolbar-row class="navbar">
            <img id="logo" src="/assets/brandNoBackground.png" />
            <span class="spacer"></span>
           <!--
             <button mat-icon-button [matMenuTriggerFor]="menu">
               <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">Salir</button>
              </mat-menu>
            -->
              <button 
              mat-icon-button
              matTooltip="Ingresar">
              <mat-icon>account_circle</mat-icon>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
        <div class="firts-line">
          <div class="content" style="display:flex">
            <div class="firstColumn" style="width: 100%;height: -moz-fit-content;">
              <div style="margin:20px">
                <h1 style="font-size:xx-large"> ¡Llega a más clientes que nunca, de forma rápida y sencilla! </h1>
                <p style="font-size:medium" > Con myLook podrás darte a conocer a ti y a tus prendas. No importa si estas iniciando, tus prendas llegarán hasta las manos de todos! </p>
              </div>
              <img src="/assets/test.png" style="width:inherit" />
            </div>
            <div class="secondColumn" style="width: 80%;">
              <app-signup></app-signup>
              <div style="margin-left:34px;background-color: white; border-radius: 50%;height: 368px; width:368px;">
                <img src="/assets/vendedora_ropa.png"  style="width: 360px;border-radius: 50%;margin-left: 4px;margin-top: 4px" />
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
