.header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row {
  margin-top: 10px;
}

.error {
  color: red;
}

#loginCard {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%; // need to be refactor
  max-width: 400px;
}

.inputForm{
  width: 100%;
}

.acceptButton{
  margin-left: 135px; // Hay que hacer que se acomode   
  background-color: rgb(197, 127, 169);
  color: white;
}

.externalLogin{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 24px;
  color: white;
}

.logingForm{
  margin-top: 10px;
}

#bottom-right
{
right: 0;
bottom: 0;
position: absolute;
}

.spacer {
  flex: 1 1 auto;
}

.right-button {
  padding: 0 14px;
}

.img-size {
  max-width: 100px;
  max-height: 50px;
}

.centerImage {
  margin: 0 auto;
}