.content {
	max-width: 1366px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.mat-drawer-content{
	min-height: calc(100vh - 48px);
	max-height: calc(100vh - 48px);
	overflow-x: auto;
	overflow-y: auto;
}

#logo {
	width: 92px;
	height: 36px;
	margin-left: 1rem
}

.navbar {
	max-width: 1920px;
    height: 48px;
	z-index: 10;
	background: white;
  padding: 0;
  margin-left: auto;
margin-right: auto;
}

.right-icon {
	padding: 0 14px;
}

.spacer {
	flex: 1 1 auto;
}

.actionIcon {
	color: #9c27b0;
	z-index: 9;
}

.stickyNavbar {
	background-color: #e1bee7;
	height: 56px;
}

.profilePic {
	border-radius: 50%;
	height: 32px;
	outline: 0;
	vertical-align: top;
	width: 32px;
	margin: 8px 0 8px 8px;
	margin-right: 12px;

}

.mat-toolbar-multiple-rows {
	min-height: 0;
}

.mat-drawer.mat-drawer-side {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.main-content {
  margin-left: auto;
margin-right: auto;
max-width: 1920px;
height: 100%;
}

.toolbar {
  background-color: transparent;
}

.myLookPink {
  color: rgb(189, 132, 199)
}

.main-content-container {
    background: rgba(252,236,252,0.14);
    background: -moz-linear-gradient(top, rgba(252,236,252,0.14) 0%, rgba(251,166,225,0.16) 49%, rgba(255,124,216,0.18) 85%, rgba(253,137,215,0.19) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,236,252,0.14)), color-stop(49%, rgba(251,166,225,0.16)), color-stop(85%, rgba(255,124,216,0.18)), color-stop(100%, rgba(253,137,215,0.19)));
    background: -ms-linear-gradient(top, rgba(252,236,252,0.14) 0%, rgba(251,166,225,0.16) 49%, rgba(255,124,216,0.18) 85%, rgba(253,137,215,0.19) 100%);
    background: linear-gradient(to bottom, rgba(252,236,252,0.14) 0%, rgba(251,166,225,0.16) 49%, rgba(255,124,216,0.18) 85%, rgba(253,137,215,0.19) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#fd89d7', GradientType=0 );
}

.selected {
  background-color: #d2aad9 !important;

}

.navigation-option:hover {
  background-color:  #e9d4ec;

}

/deep/.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #803E8B;
}

/deep/.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #803E8B;
}

/deep/ .mat-form-field.mat-focused .mat-form-field-label {
  color: #803E8B;
}

:host /deep/ .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #803E8B;
}

/deep/ .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #803E8B !important;
}

/deep/ .mat-form-field.mat-focused .mat-primary .mat-select-arrow {
  color: #803E8B;
}
