<div class="mat-typography" style="top: 0">
    <mat-toolbar class="toolbar">
        <mat-toolbar-row class="mat-elevation-z8 navbar">
            <img id="logo" src="/assets/brandNoBackground.png" />
            <span class="spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button *ngIf="isLogedIn" mat-menu-item (click)="editStoreInfo()" >Configuración</button>
                    <button *ngIf="isLogedIn" mat-menu-item (click)="logout()">Salir</button>
                  </mat-menu>
                  <img class="profilePic" src="{{userStore.profilePh}}">
            <!--

                <img class="profilePic" [src]="userStore.profilePh">
            -->
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container class="main-content mat-elevation-z2">
        <mat-sidenav *ngIf="isLogedIn" mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="false"
        [fixedTopGap]="false" [fixedBottomGap]="false" class="mat-elevation-z2" [autoFocus]="true" >
            <mat-nav-list>
                <a mat-list-item (click)="goToProfile()">¡Visita tu Perfil!</a>
                <a mat-list-item (click)="goToInventory()">¡Gestiona tu catálogo!</a>
                <a mat-list-item (click)="goToRecomendations()">¡Haz una recomendación!</a>
                <a mat-list-item (click)="goToAnalytics()">¡Estadisticas!</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <ngx-spinner bdOpacity = 1bd bdColor="#fafafa" size="large" color="#9c27b0" type = "ball-grid-pulse" fullScreen="true">
            </ngx-spinner>
            <div class="fade"></div>
          <router-outlet class="content" (imReadyToDisplay)="hideSpinner($event)" ></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
