.disclaimer {
  text-align-last: center;
}

.actions {
  text-align: end;
}

.activated-button {
  background-color: #bd84c7; color: white;
}

.button-disabled {
  background-color: grey; color: white;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #9c27b0;
}

::ng-deep .mat-progress-bar-buffer {
  background: rgb(218, 154, 230);
}

::ng-deep .mat-progress-bar {
  border-radius: 0px;
  position: absolute;
  bottom: -19px;
  left: -24px;
  width: 600px !important;
}

.proggressBar {
}

.container {
  height: 10rem;
}

button {
  margin-left: 1rem;
}
