.header {
  flex: auto;
  font-size: 30px;
  margin-bottom: 40px;
}

.row {
  margin-top: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}

#signUpCard {
  max-width: 400px;
  margin: 24px;
  margin-right: auto;
  margin-left: auto;
  margin-top: calc(10vh);
}

.externalRegisterFacebook {
  width: 80%;
  margin-left: 10%;
  color: white;
  background-color: #3b5998
}

.externalRegisterGoogle {
  width: 80%;
  margin-left: 10%;
  color: white;
  background-color: #d34836
}

.disabledButtonFacebook {
  width: 80%;
  margin-left: 10%;
  color: white;
  background-color: #3b58987e
}

.disabledButtonGoogle {
  width: 80%;
  margin-left: 10%;
  color: white;
  background-color: #d3483670
}

.inputForm {
  width: 100%;
}

.logingForm {
  margin-top: 10px;
}

.registerButton {
  display: block;
  margin-left: auto;
  background-color: rgb(197, 127, 169);
  color: white;
}

.disabledButton {
  display: block;
  margin-left: auto;
  background-color: rgba(197, 127, 169, 0.5);
  color: white;
}

.img-size {
  max-width: 100px;
  max-height: 50px;
}

#backToLogin{
  font-size: 1em
}

.mat-card .mat-divider-horizontal {

  position: relative;
  left: 0;
  width: 100%;
  margin-top: 15px;

}

.gradient {
  height: calc(100vh - 146px);
  background: rgba(252,236,252,0.14);
  background: -moz-linear-gradient(top, rgba(252,236,252,0.14) 0%, rgba(251,166,225,0.16) 49%, rgba(255,124,216,0.18) 85%, rgba(253,137,215,0.19) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,236,252,0.14)), color-stop(49%, rgba(251,166,225,0.16)), color-stop(85%, rgba(255,124,216,0.18)), color-stop(100%, rgba(253,137,215,0.19)));
  background: -webkit-linear-gradient(top, rgba(252,236,252,0.14) 0%, rgba(251,166,225,0.16) 49%, rgba(255,124,216,0.18) 85%, rgba(253,137,215,0.19) 100%);
  background: -o-linear-gradient(top, rgba(252,236,252,0.14) 0%, rgba(251,166,225,0.16) 49%, rgba(255,124,216,0.18) 85%, rgba(253,137,215,0.19) 100%);
  background: -ms-linear-gradient(top, rgba(252,236,252,0.14) 0%, rgba(251,166,225,0.16) 49%, rgba(255,124,216,0.18) 85%, rgba(253,137,215,0.19) 100%);
  background: linear-gradient(to bottom, rgba(252,236,252,0.14) 0%, rgba(251,166,225,0.16) 49%, rgba(255,124,216,0.18) 85%, rgba(253,137,215,0.19) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#fd89d7', GradientType=0 );
  }
