<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mylook.mylook">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_mylook"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mylook_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:largeHeap="true">
        <activity android:name=".login.LoginActivity">
        </activity>
        <activity android:name=".home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".info.ArticleInfoActivity"></activity>
        <activity android:name=".storeProfile.StoreActivity"></activity>
        <activity android:name=".explore.ExploreActivity"
            android:screenOrientation="portrait" >
            <meta-data android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />

        </activity>
        <activity android:name=".explore.SearchableActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".explore.ExploreActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".explore.ExploreActivity" />
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>

        </activity>

        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".recommend.RecommendationsActivity" android:grantUriPermissions="true">
        </activity>
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".recommend.RecommendActivityAddDesc"
            android:parentActivityName=".recommend.RecommendationsActivity"
            android:grantUriPermissions="true">
        </activity>
        <activity android:name=".recommend.RequestRecommendActivity">
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <activity android:name=".profile.EditInfoActivity"/>
        <activity android:name=".profile.MyAccountActivity"/>
        <activity android:name=".premiumUser.PremiumRequestActivity"
            android:parentActivityName=".profile.ProfileActivity"
            android:grantUriPermissions="true"/>
        <activity android:name=".premiumUser.PremiumUserProfile"/>
        <activity android:name=".closet.ClosetActivity"/>
        <activity android:name=".closet.OutfitActivity"
            android:parentActivityName=".closet.ClosetActivity"/>
        <activity android:name=".closet.ViewOutfitActivity"/>
        <service
            android:name=".messaging.myLookMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>