<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mylook.mylook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_mylook"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_mylook"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".session.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" />
        <activity
            android:name=".profile.AccountActivity"
            android:parentActivityName=".home.MyLookActivity" />
        <activity
            android:name=".home.MyLookActivity"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".info.ArticleInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Poner un data por cada link que se quiera relacionar-->
                <data
                    android:host="www.mylook.com"
                    android:pathPrefix="/article"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".storeProfile.StoreActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Poner un data por cada link que se quiera relacionar-->
                <data
                    android:host="www.mylook.com"
                    android:pathPrefix="/store"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".explore.SearchableActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".home.MyLookActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.MyLookActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".login.RegisterActivity"
            android:launchMode="singleInstance"
            android:parentActivityName=".login.LoginActivity" />
        <activity
            android:name=".recommend.RecommendActivityAddDesc"
            android:grantUriPermissions="true"/>
        <activity android:name=".recommend.RequestRecommendActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Poner un data por cada link que se quiera relacionar-->
                <data
                    android:host="www.mylook.com"
                    android:pathPrefix="/recommendation"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".profile.NewPasswordActivity"
            android:parentActivityName=".profile.EditInfoActivity" />
        <activity
            android:name=".profile.EditInfoActivity"
            android:parentActivityName=".profile.AccountActivity" />
        <activity
            android:name=".premiumUser.PremiumRequestActivity"
            android:grantUriPermissions="true"
            android:parentActivityName=".profile.AccountActivity" />
        <activity android:name=".premiumUser.PremiumUserProfileActivity">
            <tools:validation testUrl="https://www.mylook.com/user?clientIdDL=uELgpw0gorVBqyGf61Qq" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Poner un data por cada link que se quiera relacionar-->
                <data
                    android:host="www.mylook.com"
                    android:pathPrefix="/user"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".premiumUser.NewPublicationActivity"
            android:grantUriPermissions="true"
            android:parentActivityName=".premiumUser.PremiumUserProfileActivity" />
        <activity
            android:name=".premiumUser.PublicationDetail"
            android:parentActivityName=".premiumUser.PremiumUserProfileActivity" />
        <activity android:name=".closet.OutfitInfoActivity" />
        <activity android:name=".closet.OutfitCreateEditActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_icon_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".premiumUser.NewDiffusionMessage"/>
        <activity android:name=".notifications.NotificationCenter"
            android:parentActivityName=".session.MainActivity"/>
        <activity android:name=".login.ResetPasswordActivity"
            android:parentActivityName=".login.LoginActivity"/>

        <service android:name=".notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>