<mat-card class="container mat-typography">
  <div class="title">
    <h1> Ingrese sus datos </h1>
  </div>
  <div class="disclaimer">
    <p>

    </p>
  </div>
  <div class="inputs">
    <mat-form-field class="my-form-input"  appearance="outline" style="width: 100%;">
      <mat-label>Constraseña actual</mat-label>
      <input matInput
             [formControl]="this.actualPassword"
             type="password"
             required
        >
        <mat-error *ngIf="this.actualPassword.hasError('required')">Campo requerido</mat-error>
        <mat-error *ngIf="this.actualPassword.hasError('wrongPassword')">Contraseña inccorrecta</mat-error>
    </mat-form-field>
    <mat-form-field class="my-form-input"  appearance="outline" style="width: 100%;">
      <mat-label>Nueva contraseña</mat-label>
      <input matInput
             [formControl]="this.newPassword"
             type="password"
             required
        >
        <mat-error *ngIf="this.newPassword.hasError('required')">Campo requerido</mat-error>
        <mat-error *ngIf="this.newPassword.hasError('passwordNotMatching')">Las contraseñas deben coincidir</mat-error>
        <mat-error *ngIf="this.newPassword.hasError('passwordTooShort')">Debe contener al menos 6 carácteres</mat-error>
    </mat-form-field>
    <mat-form-field class="my-form-input"  appearance="outline" style="width: 100%;">
      <mat-label>Repetir contraseña</mat-label>
      <input matInput
             [formControl]="this.confirmPassword"
             type="password"
             required
        >
        <mat-error *ngIf="this.confirmPassword.hasError('required')">Campo requerido</mat-error>
        <mat-error *ngIf="this.confirmPassword.hasError('passwordNotMatching')">Las contraseñas deben coincidir</mat-error>

    </mat-form-field>
  </div>
  <div class="actions">
    <button mat-raised-button (click)="closeModal()"
        [ngClass]="{'button-disabled': this.isLoading}"
        [disabled]="this.isLoading"
        > Cancelar
    </button>
    <button class="activated-button"
        [ngClass]="{'button-disabled':( this.isLoading || (this.actualPassword.invalid || this.newPassword.invalid || this.confirmPassword.invalid))}"
        mat-raised-button (click)="tryChangePassword()"
        [disabled]="this.isLoading || (this.actualPassword.invalid || this.newPassword.invalid || this.confirmPassword.invalid)"
        > Aceptar
    </button>
  </div>
  <div class="proggressBar">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="deeppurple-amber"></mat-progress-bar>
  </div>
</mat-card>
