.header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row {
  margin-top: 10px;
}

.error {
  color: red;
}

#loginCard {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(10vh); // need to be refactor
  max-width: 400px;
}

.inputForm{
  width: 100%;
}

.acceptButton{
  display: block;
  margin-left: auto;
  background-color: rgb(197, 127, 169);
  color: white;
}

.externalLogin{
  width: 80%;
  margin-left: 10%;
  color: white;
}

.logingForm{
  margin-top: 10px;
}

#bottom-right
{
right: 0;
bottom: 0;
position: absolute;
}

.spacer {
  flex: 1 1 auto;
}

.right-button {
  padding: 0 14px;
}

.img-size {
  max-width: 100px;
  max-height: 50px;
}

.centerImage {
  margin: 0 auto;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #9C27B0;
}

::ng-deep .mat-progress-bar-buffer {
  background: rgb(218, 154, 230);
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.proggressBar{
  margin-top: 15px;
  width: 448px;
  margin-left: -24px;
}

.mat-card .mat-divider-horizontal {

  position: relative;
  left: 0;
  width: 100%;
  margin-top: 10px;

}