.header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row {
  margin-top: 10px;
}

.error {
  color: red;
}

#loginCard {
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(10vh); // need to be refactor
  max-width: 400px;
}

.inputForm {
  width: 100%;
}

.acceptButton {
  display: block;
  margin-left: auto;
  background-color: rgb(197, 127, 169);
  color: white;
}

.externalLogin {
  width: 80%;
  margin-left: 10%;
  color: white;
}

.logingForm {
  margin-top: 10px;
}

#bottom-right {
  right: 0;
  bottom: 0;
  position: absolute;
}

.spacer {
  flex: 1 1 auto;
}

.right-button {
  padding: 0 14px;
}

.img-size {
  max-width: 100px;
  max-height: 50px;
}

.centerImage {
  margin: 0 auto;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #9c27b0;
}

::ng-deep .mat-progress-bar-buffer {
  background: rgb(218, 154, 230);
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.proggressBar {
  margin-top: 15px;
  width: 402px;
  margin-left: -17px;
}

.mat-card .mat-divider-horizontal {
  position: relative;
  left: 0;
  width: 100%;
  margin-top: 10px;
}

.gradient {
  height: calc(100vh - 146px);
  background: rgba(252, 236, 252, 0.14);
  background: -moz-linear-gradient(
    top,
    rgba(252, 236, 252, 0.14) 0%,
    rgba(251, 166, 225, 0.16) 49%,
    rgba(255, 124, 216, 0.18) 85%,
    rgba(253, 137, 215, 0.19) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(252, 236, 252, 0.14)),
    color-stop(49%, rgba(251, 166, 225, 0.16)),
    color-stop(85%, rgba(255, 124, 216, 0.18)),
    color-stop(100%, rgba(253, 137, 215, 0.19))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(252, 236, 252, 0.14) 0%,
    rgba(251, 166, 225, 0.16) 49%,
    rgba(255, 124, 216, 0.18) 85%,
    rgba(253, 137, 215, 0.19) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(252, 236, 252, 0.14) 0%,
    rgba(251, 166, 225, 0.16) 49%,
    rgba(255, 124, 216, 0.18) 85%,
    rgba(253, 137, 215, 0.19) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(252, 236, 252, 0.14) 0%,
    rgba(251, 166, 225, 0.16) 49%,
    rgba(255, 124, 216, 0.18) 85%,
    rgba(253, 137, 215, 0.19) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(252, 236, 252, 0.14) 0%,
    rgba(251, 166, 225, 0.16) 49%,
    rgba(255, 124, 216, 0.18) 85%,
    rgba(253, 137, 215, 0.19) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#fd89d7', GradientType=0 );
}

.disabledButton {
  display: block;
  margin-left: auto;
  background-color: rgba(197, 127, 169, 0.5);
  color: white;
}

.externalLoginFacebook {
  width: 80%;
  margin-left: 10%;
  margin-top: 1rem;
  color: white;
  background-color: #3b5998;
}

.externalLoginGoogle {
  width: 80%;
  margin-left: 10%;
  margin-top: 0.5rem;
  color: white;
  background-color: #d34836;
}

.disabledButtonFacebook {
  width: 80%;
  margin-left: 10%;
  margin-top: 1rem;
  color: white;
  background-color: #3b58987e;
}

.disabledButtonGoogle {
  width: 80%;
  margin-left: 10%;
  margin-top: 0.5rem;
  color: white;
  background-color: #d3483670;
}
