<div class="gradient">
  <mat-card id="loginCard" class="mat-typography">
    <mat-card-title style="color: purple">
        <div class="headerImage">
          <img src="/assets/brandNoBackground.png" class="img-size centerImage">
        </div>
      </mat-card-title>
  <mat-card-title style="text-align: center;">Iniciar sesión</mat-card-title>
  <form [formGroup]="loginForm" autocomplete="off">
    <mat-form-field appearance="outline" class="inputForm">
      <mat-label>Ingrese su email</mat-label>
      <input matInput class="form-control" formControlName="email">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Por favor ingrese un Email valido
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Se requiere
        <strong>Email</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="inputForm">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" class="form-control" formControlName="password">
    </mat-form-field>
    <label class="error">{{errorMessage}}</label>
  </form>
  <form>
    <div class="loginButton">
      <button mat-button [ngClass]="{disabledButton: (isLoading || loginForm.invalid)}" [disabled]="isLoading || loginForm.invalid" (click)="tryLogin()" class="acceptButton">Acceder</button>
    </div>
    <div style="display: grid;">
        <a class="createAcc" style="text-decoration: none;color: #6a99ff;" [routerLink]="[ '/Registrarse']">Crear cuenta en Mylook</a>
        <a class="createAcc" style="text-decoration: none;color: #6a99ff; cursor: pointer; " (click)="restartPassword()">¿Has olvidado tu contraseña?</a>
      </div>
      <span class="spacer"></span>
    </form>
    <mat-divider id="divider"></mat-divider>
    <form>
      <button mat-button [disabled]="isLoading " class="externalLoginFacebook" (click)="tryLoginWithSocialNetwork('facebook')" [ngClass]="{disabledButtonFacebook: isLoading}">Acceder con Facebook</button>
      <button mat-button [disabled]="isLoading" class="externalLoginGoogle" (click)="tryLoginWithSocialNetwork('google')" [ngClass]="{disabledButtonGoogle: isLoading}">Acceder con Google</button>
        </form>
        <div class="proggressBar">
          <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="deeppurple-amber"></mat-progress-bar>
        </div>
      </mat-card>
    </div>
