<div class="mat-typography">
  <div style="display:flex">
    <h2 *ngIf="isNew" style="margin: 0; ">
      Agrega una nueva prenda a tu catálogo
    </h2>
    <h2 *ngIf="!isNew" style="margin: 0; ">Actualizar prenda</h2>
  </div>
  <h4 *ngIf="isNew" style="margin: 0;">
    A continuación ingresa la información de la prenda.
  </h4>
</div>

<div style="display: table-caption; margin-top: 15px">
  <form [formGroup]="articleForm" style="display: flex;" #elPrimerForm autocomplete="off">
    <div
      #secondColumn
      style="display: inline-table;margin-left: 10px; width: 240px"
    >
      <div>
        <mat-form-field style="width: 95%">
          <input
            matInput
            type="text"
            placeholder="Titulo"
            formControlName="title"
            value="{{ articleData.title }}"
            required
            minlength="2"
          />
          <mat-error *ngIf="articleForm.get('title')">
            Campo obligatorio.
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 95%">
          <input
            matInput
            type="text"
            placeholder="Código"
            formControlName="code"
            value="{{ articleData.code }}"
            required
          />
          <mat-error *ngIf="articleForm.get('code')">
            Campo obligatorio.
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 95%">
          <input
            matInput
            type="text"
            placeholder="Proveedor"
            formControlName="provider"
            value="{{ articleData.provider }}"
            required
          />
          <mat-error *ngIf="articleForm.get('provider')">
            Campo obligatorio.
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 95%">
          <input
            matInput
            min='0' type="number" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
            placeholder="Precio"
            formControlName="cost"
            value="{{ articleData.cost }}"
            required
          />
          <mat-error *ngIf="articleForm.get('cost')">
            Campo obligatorio.
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 95%">
          <input
            matInput
            min='0' type="number" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
            placeholder="Stock inicial"
            formControlName="initial_stock"
            value="{{ articleData.initial_stock }}"
            required
          />
          <mat-error *ngIf="articleForm.get('initial_stock')">
            Campo obligatorio.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field style="width: 95%">
          <input
            matInput
            placeholder="Material"
            formControlName="material"
            value="{{ articleData.material }}"
          />
        </mat-form-field>
      </div>
    </div>

    <div
      #firstColumn
      style="display: flex; width: 500px; height: 390px; position: relative; margin-left: 5px"
    >
      <div style="padding-top: 13px;">
        <div style="display:flex">
          <div lyTheme="minima-light" #PrimeraFoto>
            <div class="resize-image">
              <br />
              <!-- botones opcionales
                  <button *ngIf="isLoadedImage" (click)="cropping1.zoomIn()" ly-button appearance="icon"><ly-icon>zoom_in</ly-icon></button>
                  <button *ngIf="isLoadedImage" (click)="cropping1.zoomOut()" ly-button appearance="icon"><ly-icon>zoom_out</ly-icon></button>
                  <button *ngIf="isLoadedImage" (click)="cropping1.center()" ly-button appearance="icon"><ly-icon>filter_center_focus</ly-icon></button>
                  <button *ngIf="isLoadedImage" (click)="cropping1.rotate(-90)" ly-button appearance="icon"><ly-icon>rotate_90_degrees_ccw</ly-icon></button>
                  <button *ngIf="isLoadedImage" (click)="cropping1.fit()" ly-button>Fit</button>
                  <button *ngIf="isLoadedImage" (click)="cropping1.fitToScreen()" ly-button>Fit to screen</button>
                  <button *ngIf="isLoadedImage" (click)="cropping1.setScale(1)" ly-button>1:1</button>
                -->
              <div>
                <button
                  class="closeIconButton"
                  *ngIf="isLoadedImage[0]"
                  (click)="cropping0.clean()"
                  (click)="doClean(0)"
                  ly-button
                  appearance="icon"
                >
                  <ly-icon>close</ly-icon>
                </button>
              </div>

              <ly-cropping
                #cropping0
                id="crp0"
                [config]="myConfig"
                (cropped)="oncropped($event, 0)"
                (loaded)="onloaded(0)"
                (error)="onerror()"
                class="mat-typography"
              >
                <i class="material-icons">
                  add_photo_alternate
                </i>
                Añadir Foto
              </ly-cropping>
              <button
                style="visibility: hidden"
                color="accent"
                (click)="cropping0.crop()"
                ly-button
                raised
              >
                crop
              </button>

              <div lyTheme="minima-light">
                <!--

                  <button
                  ly-button
                  color="accent"
                  (click)="_fileInput0.click()"
                  (click)="onSelectedImage(0)"
                  raised
                  >
                  <ly-icon>image</ly-icon>
                  <span>Select File</span>
                </button>
              -->

                <!-- Hidden input -->
                <input
                  #_fileInput0
                  type="file"
                  (change)="cropping0.selectInputEvent($event)"
                  accept="image/*"
                  hidden
                />
              </div>
            </div>
          </div>
          <!-------------------------------------------------------------------------------------------------------------------------------------------------->
          <div lyTheme="minima-light" #SegundaFoto>
            <div class="resize-image">
              <br />
              <!-- botones opcionales
                    <button *ngIf="isLoadedImage" (click)="cropping2.zoomIn()" ly-button appearance="icon"><ly-icon>zoom_in</ly-icon></button>
                    <button *ngIf="isLoadedImage" (click)="cropping2.zoomOut()" ly-button appearance="icon"><ly-icon>zoom_out</ly-icon></button>
                    <button *ngIf="isLoadedImage" (click)="cropping2.center()" ly-button appearance="icon"><ly-icon>filter_center_focus</ly-icon></button>
                    <button *ngIf="isLoadedImage" (click)="cropping2.rotate(-90)" ly-button appearance="icon"><ly-icon>rotate_90_degrees_ccw</ly-icon></button>
                    <button *ngIf="isLoadedImage" (click)="cropping2.fit()" ly-button>Fit</button>
                    <button *ngIf="isLoadedImage" (click)="cropping2.fitToScreen()" ly-button>Fit to screen</button>
                    <button *ngIf="isLoadedImage" (click)="cropping2.setScale(1)" ly-button>1:1</button>
                  -->
              <div>
                <button
                  class="closeIconButton"
                  *ngIf="isLoadedImage[1]"
                  (click)="cropping1.clean()"
                  (click)="doClean(1)"
                  ly-button
                  appearance="icon"
                >
                  <ly-icon>close</ly-icon>
                </button>
              </div>

              <ly-cropping
                #cropping1
                id="crp1"
                [config]="myConfig"
                (cropped)="oncropped($event, 1)"
                (loaded)="onloaded(1)"
                (error)="onerror()"
                class="mat-typography"
              >
                <i class="material-icons">
                  add_photo_alternate </i
                >Añadir Foto
              </ly-cropping>
              <button
                style="visibility: hidden"
                color="accent"
                (click)="cropping1.crop()"
                ly-button
                raised
              >
                crop
              </button>

              <div lyTheme="minima-light">
                <!--

                  <button
                  ly-button
                  color="accent"
                  (click)="_fileInput1.click()"
                  (click)="onSelectedImage(1)"
                  raised
                  >
                  <ly-icon>image</ly-icon>
                  <span>Select File</span>
                </button>
              -->

                <!-- Hidden input -->
                <input
                  #_fileInput1
                  type="file"
                  (change)="cropping1.selectInputEvent($event)"
                  accept="image/*"
                  hidden
                />
                <!-------------------------------------------------------------------------------------------------------------------------------------------------->
              </div>
            </div>
          </div>
          <div lyTheme="minima-light" #TerceraFoto>
            <div class="resize-image">
              <br />
              <!-- botones opcionales
                      <button *ngIf="isLoadedImage" (click)="cropping1.zoomIn()" ly-button appearance="icon"><ly-icon>zoom_in</ly-icon></button>
                      <button *ngIf="isLoadedImage" (click)="cropping1.zoomOut()" ly-button appearance="icon"><ly-icon>zoom_out</ly-icon></button>
                      <button *ngIf="isLoadedImage" (click)="cropping1.center()" ly-button appearance="icon"><ly-icon>filter_center_focus</ly-icon></button>
                      <button *ngIf="isLoadedImage" (click)="cropping1.rotate(-90)" ly-button appearance="icon"><ly-icon>rotate_90_degrees_ccw</ly-icon></button>
                      <button *ngIf="isLoadedImage" (click)="cropping1.fit()" ly-button>Fit</button>
                      <button *ngIf="isLoadedImage" (click)="cropping1.fitToScreen()" ly-button>Fit to screen</button>
                      <button *ngIf="isLoadedImage" (click)="cropping1.setScale(1)" ly-button>1:1</button>
                    -->
              <div>
                <button
                  class="closeIconButton"
                  *ngIf="isLoadedImage[2]"
                  (click)="cropping2.clean()"
                  (click)="doClean(2)"
                  ly-button
                  appearance="icon"
                >
                  <ly-icon>close</ly-icon>
                </button>
              </div>

              <ly-cropping
                #cropping2
                id="crp2"
                [config]="myConfig"
                (cropped)="oncropped($event, 2)"
                (loaded)="onloaded(2)"
                (error)="onerror()"
                class="mat-typography"
              >
                <i class="material-icons">
                  add_photo_alternate </i
                >Añadir Foto
              </ly-cropping>

              <button
                style="visibility: hidden"
                color="accent"
                (click)="cropping2.crop()"
                ly-button
                raised
              >
                crop
              </button>

              <div lyTheme="minima-light">
                <!--

                  <button
                  ly-button
                  color="accent"
                  (click)="_fileInput2.click()"
                  (click)="onSelectedImage(2)"
                  raised
                  >
                  <ly-icon>image</ly-icon>
                  <span>Select File</span>
                </button>

              -->
                <!-- Hidden input -->
                <input
                  #_fileInput2
                  type="file"
                  (change)="cropping2.selectInputEvent($event)"
                  accept="image/*"
                  hidden
                />
                <!-------------------------------------------------------------------------------------------------------------------------------------------------->
              </div>
            </div>
          </div>
        </div>
        <!--

            <img-cropper *ngIf="actualImageId === 0" #cropper [image]="data[0]" [settings]="cropperSettings"></img-cropper>
            <img-cropper *ngIf="actualImageId === 1" #cropper [image]="data[1]" [settings]="cropperSettings"></img-cropper>
            <img-cropper *ngIf="actualImageId === 2" #cropper [image]="data[2]" [settings]="cropperSettings"></img-cropper>
            <input hidden class="file-input" #imgFileInput type="file" (change)="fileChangeListener($event)" >
          <div class="articlePhotosContainer">
            <div class="photo" style="border-right: 0px;" (click)="imgFileInput.click()" (click)="setImageID(0)"><img class="miniImage" src="{{data[0].src}}" /></div>
            <div class="photo" style="border-right: 0px;" (click)="imgFileInput.click()" (click)="setImageID(1)"><img class="miniImage" src="{{data[1].src}}" /></div>
            <div class="photo" (click)="imgFileInput.click()" (click)="setImageID(2)"><img class="miniImage" src="{{data[2].src}}" /></div>
          </div>
        probamos el nuevo cropp -->
        <!--

          <button type="button" mat-raised-button style="display: block; margin-left: auto; margin-right: auto; margin-top: 10px;  background-color: #9C27B0;color: white"
          (click)="imgFileInput.click()">Añade una foto</button>
        -->
      </div>
      <mat-form-field
        style="width: 480px;
      align-self: flex-end;
      position: fixed; margin-top: -62px;"
      >
        <mat-chip-list #chipList3>
          <mat-chip
            *ngFor="let color of colors"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeColor(color)"
          >
            {{ color }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            class="inputColores"
            style="width: 100%"
            placeholder="Colores Disponibles"
            #sizesInput
            [formControl]="colorsCtrl"
            [matChipInputFor]="chipList3"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addColor($event)"
            autofocus
          />
        </mat-chip-list>
        <!--<input matInput placeholder="Etiquetas" formControlName="tags" value={{articleData.tags}}>-->
      </mat-form-field>
      <mat-form-field
        style="width: 480px;
      align-self: flex-end;
      position: fixed; margin-top: 3px;"
      >
        <mat-chip-list #chipList2>
          <mat-chip
            *ngFor="let size of sizes"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeSize(size)"
          >
            {{ size }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            style="width: 100%"
            placeholder="Talles"
            #sizesInput
            [formControl]="sizesCtrl"
            [matChipInputFor]="chipList2"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addSize($event)"
            autofocus
          />
        </mat-chip-list>
        <!--<input matInput placeholder="Etiquetas" formControlName="tags" value={{articleData.tags}}>-->
      </mat-form-field>
    </div>
  </form>
</div>

<div #thirtColumn style="margin-left: 10px">
  <form [formGroup]="articleForm" style="display: flex;"></form>
</div>

<div #forthColumn style="margin-left: 10px">
  <form [formGroup]="articleForm" autocomplete="off">
    <mat-form-field style="width: 97.5%" requiered>
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let tag of tags"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(tag)"
        >
          {{ tag }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          style="width: 100%"
          placeholder="Elije las etiquetas"
          #tagsInput
          [formControl]="tagsCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
          autofocus
        />
      </mat-chip-list>
          <mat-error *ngIf="articleForm.get('tags')">
            Campo obligatorio.
          </mat-error>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event)"
      >
        <mat-option *ngFor="let tag of (filteredTags | async)" [value]="tag">
          {{ tag }}
        </mat-option>
      </mat-autocomplete>
      <!--<input matInput placeholder="Etiquetas" formControlName="tags" value={{articleData.tags}}>-->
    </mat-form-field>

    <div mat-dialog-actions align="end">
      <button
        *ngIf="!isNew"

        [disabled]="articleForm.invalid || isUpLoading"
        style="background-color: #9C27B0; color: white"
        type="button"
        mat-raised-button
        (click)="refreshArticle($event)"
        [ngClass]="{buttonDisabled: articleForm.invalid}"
      >
        Actualizar Prenda
      </button>
      <button
        *ngIf="isNew"
        [disabled]="articleForm.invalid || isUpLoading"
        class="activatedButton"
        type="button"

        [ngClass]="{buttonDisabled: articleForm.invalid}"
        mat-raised-button
        (click)="cropImages(cropping0, cropping1, cropping2)"
      >
        Agregar Prenda
      </button>
    </div>
  </form>
  <div class="proggressBar">
    <mat-progress-bar *ngIf="isUpLoading" mode="indeterminate" color="deeppurple-amber"></mat-progress-bar>
  </div>
</div>
