<div class="mat-typography">
  <div style="display:flex">

      <h2  *ngIf="isNew" style="margin: 0; ">Agrega una nueva prenda a tu catálogo</h2>
      <h2  *ngIf="!isNew" style="margin: 0; ">Actualizar prenda</h2>
      <button mat-mini-fab style="display: block; margin-left: auto; background-color: #ff9800;" (click)="onNoClick()">
        <mat-icon>close</mat-icon>
      </button>

  </div>
  <h4  *ngIf="isNew" style="margin: 0;">A continuación ingresa la información de la prenda.</h4>
</div>

<div style="display: table-caption; margin-top: 15px">

  <form [formGroup]="articleForm" style="display: flex;">
    <div #secondColumn style="display: inline-table;margin-left: 10px;">
      <div>
        <mat-form-field>
            <mat-chip-list #chipList>
                <mat-chip
                  *ngFor="let tag of tags"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(tag)">
                  {{tag}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Elije las etiquetas"
                  #tagsInput
                  [formControl]="tagsCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)" autofocus>
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                  {{tag}}
                </mat-option>
              </mat-autocomplete> 
              <!--<input matInput placeholder="Etiquetas" formControlName="tags" value={{articleData.tags}}>-->
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Proveedor" formControlName="provider" value={{articleData.provider}}>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Costo" formControlName="cost" value={{articleData.cost}}>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Stock inicial" formControlName="initial_stock" value={{articleData.initial_stock}}>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Talle" formControlName="size" value={{articleData.size}}>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Material" formControlName="material" value={{articleData.material}}>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Colores disponibles" formControlName="colors" [(ngModel)]="articleData.colors">
        </mat-form-field>
      </div>

    </div>

    <div #firstColumn style="display: inline-table; width: 200px; height: 255px; position: relative; margin-left: 25px">

      <div style="height: 180px;padding-top: 10px;">
         <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" height="170"  style="display: block; margin-left: auto; margin-right: auto; max-width:180px">
      </div>

      <div>
        <button type="button" mat-raised-button style="display: block; margin-left: auto; margin-right: auto; margin-top: 10px;  background-color: #7B1FA2;color: white"
          (click)="imgFileInput.click()">Añade una foto</button>
        <input hidden class="file-input" #imgFileInput type="file" (change)="detectFiles($event)">
      </div>

    </div>
  </form>


  <div mat-dialog-actions align="end">
    <button *ngIf="!isNew" style="background-color: #9C27B0; color: white" type="button" mat-raised-button (click)="refreshArticle($event)">Actualizar
      Prenda
    </button>
    <button *ngIf="isNew" style="background-color: #9C27B0; color: white" type="button" mat-raised-button (click)="startUpload($event.target.files)">Agregar
      Prenda
    </button>
  </div>

</div>