<h1 mat-dialog-title style="text-align:center; margin:0">
  Promociona tú prenda!
</h1>
<div
  class="mat-typography"
  mat-dialog-content
  style="display: inline; margin-left: auto; margin-right: auto; padding: 0"
>
  <h3 style="margin:0">{{ data.title }}</h3>
  <img
    style="margin-left:auto;margin-right:auto;margin-bottom:10px"
    height="250"
    width="250"
    src="{{ data.picture }}"
  />

  <mat-form-field style="width: 100%">
    <mat-select
      placeholder="Duración de la promoción."
      [(ngModel)]="duration"
      name="dur"
    >
      <mat-option
        *ngFor="let dur of durations"
        [value]="dur.value"
        (click)="tryCalculateCost()"
      >
        {{ dur.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <mat-select
      placeholder="Nivel de Promoción"
      [(ngModel)]="selectedPromotion"
      name="prom"
    >
      <mat-option
        *ngFor="let prom of promotionsLevels"
        [value]="prom.value"
        (click)="tryCalculateCost()"
      >
        {{ prom.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<p *ngIf="duration !== undefined && selectedPromotion !== undefined" style="margin:0">
    ${{ promotionCost | number: '1.0-0' }} final.
</p>
<div mat-dialog-actions align="end">
  <button
    mat-raised-button
    [mat-dialog-close]="false"
    cdkFocusInitial
    (click)="onNoClick()"
  >
    Cancelar
  </button>
  <button
    mat-raised-button
    style="background-color: #9C27B0 ; color: #ffffff"
    [mat-dialog-close]="promotionData"
    cdkFocusInitial
    (click)="sendData()"
  >
    Aceptar
  </button>
</div>
