<div class="main-container  mat-typography">
  <div class="title">
    <h1>Selecciona tu Vidriera</h1>
    <form autocomplete="off">
      <mat-form-field class="inputs" appearance="outline">
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="storefrontControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div class="content">
    <div class="front-example">
      <h2>Aqui verás una vista previa de cómo lucira tu vidriera</h2>
      <div class="images">
          <img class="coverPh" src={{information.storeBackPhoto}}>
          <img class="profilePh" src={{information.storeProfilePicture}}>
          <div class="frontPhotos-container">
            <div *ngFor="let article of information.articles">
              <img *ngIf="isInSelected(article)" class="storefrontPhoto" src={{article.picturesArray[0]}}>
            </div>
          </div>
      </div>
    </div>
    <div class="articles-selector">
      <h2>Selecciona los articulos de tu vidriera</h2>
      <mat-table class="table" [dataSource]="dataSource">

        <!-- Picture Column
        <ng-container matColumnDef="picture">
            <mat-header-cell *matHeaderCellDef><mat-icon>photo</mat-icon></mat-header-cell>
            <mat-cell *matCellDef="let element"><img height="120" width="120" src={{element.picturesArray[0]}}> </mat-cell>
        </ng-container> -->
          <!-- code Column -->
        <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
        </ng-container>
        <!-- title Column -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef > Titulo </mat-header-cell>
            <mat-cell *matCellDef="let element"> sada {{element.title}} </mat-cell>
        </ng-container>

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">
              <mat-checkbox (change)="addIdToSelecteds(i, $event)" [checked]="element.isStorefront" [disabled]="!isInSelected(element) && (this.selectedIndexes.length > 5)"></mat-checkbox>
          </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
