<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<div class="backgroundColor container mat-typography">
  <div id="cardContainer" class="container" fxLayoutAlign="center center"></div>
  <mat-card id="registerCard">
    <div>
      <mat-horizontal-stepper
        #stepper
        [linear]="true"
        style="max-height: calc(80vh); overflow: overlay;"
      >
        <mat-step [stepControl]="step1">
          <form [formGroup]="registerStoreFormGroupStep1" autocomplete="off">
            <ng-template matStepLabel>Usuario</ng-template>

            <div #firstStep style="display: flex; height: 435px;">
              <div style="display: block;margin-left: auto; margin-right:auto;">
                <mat-form-field appearance="outline" style="display: block;">
                  <mat-label>Nombre de la Tienda</mat-label>
                  <input
                    required
                    matInput
                    autofocus
                    formControlName="storeName"
                    [(ngModel)]="storeName"
                    (keypress)="clearErrors()"
                  />
                </mat-form-field>
                <mat-error *ngIf="errorMessage" style="display:table-caption">
                  {{ errorMessage }}
                </mat-error>
                <div style="display: table-cell">
                  <div
                    style="display: block; width: 200px; height: auto; position: relative;"
                  >
                    <div style="text-align: center;">
                      <label>Foto de Perfil</label>
                    </div>
                    <div #firstColumn>
                      <div class="circleBase" style="height: 200px;">
                        <!--  <object data="avatar.jpg" [src]="" type="image/jpg">
                          <img src="../../../../assets/noPhotoSelected.png" />
                        </object>
                      -->
                        <div>
                          <img
                            *ngFor="let url of urlsProfile"
                            [src]="url"
                            class="rounded mb-3"
                            height="200px"
                            width="200px"
                            style="display: block;"
                          />
                        </div>
                      </div>
                      <div>
                        <button
                          class="purpleButton"
                          type="button"
                          mat-raised-button
                          style="display: block; margin-left: auto; margin-right: auto; margin-top: 10px"
                          (click)="imgProfile.click()"
                        >
                          Añade una foto
                        </button>
                        <input
                          hidden
                          class="file-input"
                          #imgProfile
                          type="file"
                          (change)="detectFilesProfile($event)"
                        />
                      </div>
                    </div>
                  </div>

                  <div style="display: grid; margin-top: 10px;">
                    <mat-form-field appearance="outline">
                        <mat-label>Teléfono</mat-label>
                      <input
                        matInput
                        formControlName="storePhone"
                        min="0"
                        type="text"
                        onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

            <div style="display: grid;">
              <div style="margin-left: auto">
                <button
                  [disabled]="registerStoreFormGroupStep1.invalid || !profileFile"
                  mat-mini-fab
                  class="nextButton orangeButton"
                  (click)="isStoreNameAvailable(stepper)"
                  (click)="cropImages(cropping1)"

                >
                  <mat-icon>navigate_next</mat-icon>
                </button>
              </div>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="step2">
          <form [formGroup]="registerStoreFormGroupStep2">
            <ng-template matStepLabel>Tienda</ng-template>
            <div>
              <div
                style="display: block; width: auto; height: auto; position: relative; margin-left: auto; margin-right: auto"
              >
                <!-- ------------------------------------------------------------------------------------------- -->
                <div lyTheme="minima-light" #FotoPortada>
                    <h2 class="title">Foto de Portada</h2>
                    <div class="resize-image">
                      <div>
                        <!-- *ngIf="!this.isUpLoading" -->
                        <button
                          type="button"
                          class="cropButton"
                          (click)="cropping1.clean()"
                          (click)="doClean(1, $event)"
                          ly-button
                          appearance="icon"
                        >
                          <ly-icon>close</ly-icon>
                        </button>
                      </div>

                      <ly-cropping class="crp1"
                        #cropping1
                        id="crp1"
                        [config]="myConfigPortada"
                        (cropped)="oncropped($event, 1)"
                        (loaded)="onloaded(1)"
                        (error)="onerror()"
                        class="mat-typography"
                      >
                        <i class="material-icons"> add_photo_alternate </i> Añadir Foto
                      </ly-cropping>
                      <button
                        type="button"
                        style="visibility: hidden; position: absolute"
                        color="accent"
                        (click)="cropping1.crop()"
                        ly-button
                        raised
                      >
                        crop
                      </button>

                      <div lyTheme="minima-light">

                        <input
                          #_fileInput0
                          type="file"
                          (change)="cropping1.selectInputEvent($event)"
                          accept="image/*"
                          hidden
                        />
                      </div>
                    </div>
                  </div>


              </div>

              <div class="full-length">
                <mat-form-field appearance="outline" class="full-length">
                  <mat-label>Descripción</mat-label>
                  <textarea
                    required
                    matInput
                    formControlName="storeDescription"
                    type="text"
                    style="padding: 0"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
            <!-- <mat-form-field>
              <input matInput placeholder="Horarios de atención" formControlName="attendanceHours">
          </mat-form-field> -->

            <div style="display: grid">
              <div>
                <mat-form-field appearance="outline" id="storeFloor" style="width: 100%;">
                  <mat-label>Ingresar dirección</mat-label>
                  <input
                    required
                    matInput
                    formControlName="storeAddress"
                    (keydown.enter)="$event.preventDefault()"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="off"
                    type="text"
                    #search
                  />
                </mat-form-field>
              </div>

              <div>
                <agm-map
                  [latitude]="latitude"
                  [longitude]="longitude"
                  [zoom]="zoom"
                >
                  <agm-marker
                    [latitude]="latitude"
                    [longitude]="longitude"
                    [markerDraggable]="true"
                    (dragEnd)="markerDragEnd($event)"
                  ></agm-marker>
                </agm-map>
              </div>
              <!-- <mat-form-field style="width: 30%;">
                <input required matInput placeholder="Provincia" formControlName="storeProvince">
              </mat-form-field>

              <mat-form-field style="width: 40%;">
                <input required matInput placeholder="Ciudad" formControlName="storeCity">
              </mat-form-field> -->
            </div>
            <!-- this creates a google map on the page with the given lat/lng from -->
            <!-- the component as the initial center of the map: -->
            <!-- <agm-map [latitude]="lat" [longitude]="lng" style="height: 300px;">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map> -->

            <div style="display: flex; margin-top: 10px;">
              <!-- <mat-form-field id="storeAddress" style="width: 45%">
                <input required matInput placeholder="Dirección" formControlName="storeAddress">
              </mat-form-field>

              <mat-form-field id="storeAddressNumber" style="width: 15%">
                <input required matInput placeholder="N°" formControlName="storeAddressNumber" min='0' type="number" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
              </mat-form-field> -->

              <mat-form-field appearance="outline" id="OptionalInformation">
                <mat-label>Piso (Opcional)</mat-label>
                <input
                  matInput
                  formControlName="storeFloor"
                  min="0"
                  type="number"
                  onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                />
              </mat-form-field>

              <mat-form-field appearance="outline" id="OptionalInformation">
                <mat-label>Departamento (Opcional)</mat-label>
                <input
                  matInput
                  formControlName="storeDept"
                />
              </mat-form-field>

              <mat-form-field appearance="outline" id="OptionalInformation">
               <mat-label>Torre (Opcional)</mat-label>
                <input
                  matInput
                  formControlName="storeTower"
                />
              </mat-form-field>
            </div>

            <div class="socialNetworks">
              <div class="networkContainer" >
                <img src="/assets/facebookLogo.png" height="20px" width="20px" class="networkIcon">
                  <mat-form-field id="socialNetwork"
                    floatLabel="never">
                    <input
                    matInput
                    placeholder="Nombre de usuario"
                    formControlName="facebookLink"
                    />
                    <span matPrefix>. . . https://www.facebook.com/</span>
                  </mat-form-field>
              </div>

              <div class="networkContainer">
                <img src="/assets/instagramLogo.png" height="20px" width="20px" class="networkIcon">
                  <mat-form-field id="socialNetwork"
                    floatLabel="never">
                    <input
                    matInput
                    placeholder="Nombre de usuario"
                    formControlName="instagramLink"
                    />
                    <span matPrefix>. . . https://www.instagram.com/</span>
                  </mat-form-field>

                </div>
              </div>

            <mat-toolbar>
              <mat-toolbar-row style="background-color: white">
                <button
                  mat-mini-fab
                  matStepperPrevious
                  class="nextButton orangeButton"
                >
                  <mat-icon>navigate_before</mat-icon>
                </button>
                <span class="fill-space"></span>
                <button
                  [disabled]="registerStoreFormGroupStep2.invalid || !this.isLoadedImage[1]"
                  mat-mini-fab
                  matStepperNext
                  class="nextButton orangeButton"
                  (click)="stepper.next()"
                  (click)="this.cropImages(cropping1)"
                >
                  <mat-icon>navigate_next</mat-icon>
                </button>
              </mat-toolbar-row>
            </mat-toolbar>
          </form>
        </mat-step>

        <mat-step [stepControl]="step3">
          <ng-template matStepLabel>Confirmar Datos</ng-template>

          <div class="normalRegister" *ngIf="normalRegister">


          <mat-form-field appearance="outline" class="full-length">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              [disabled]="isRegistering"
              [(ngModel)]="password"
              type="password"
              (keypress)="clearErrors()"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-length">
              <mat-label>Confirmar contraseña</mat-label>
            <input
              matInput
              [disabled]="isRegistering"
              [(ngModel)]="confirmPassword"
              (keypress)="clearErrors()"
              type="password"
            />
          </mat-form-field>

          <mat-error *ngIf="errorMessage">
            {{ errorMessage }}
          </mat-error>
        </div>
        <div class="networkRegister" *ngIf="!normalRegister">
          <p class="confirmationText"> Se creará la tienda en myLook asociando la información a la cuenta <strong>{{emailAndProvider.email}}</strong> de <strong>{{emailAndProvider.provider}}</strong>. </p>
          <p class="confirmationText"> Por favor, haz click en el botón de la esquina inferior derecha para continuar. </p>
        </div>
          <mat-toolbar>
            <mat-toolbar-row style="background-color: white">
              <button
                mat-mini-fab
                [disabled]="isRegistering"
                matStepperPrevious
                class="nextButton orangeButton"
              >
                <mat-icon>navigate_before</mat-icon>
              </button>
              <span class="fill-space"></span>
              <button
                mat-mini-fab
                matStepperNext
                [disabled]="isRegistering"
                class="nextButton orangeButton"
                (click)="tryRegister()"
              >
                <mat-icon class="material-icons">done</mat-icon>
              </button>
            </mat-toolbar-row>
          </mat-toolbar>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
    <div class="proggressBar">
      <mat-progress-bar
        *ngIf="isRegistering"
        mode="indeterminate"
        color="deeppurple-amber"
      ></mat-progress-bar>
    </div>
  </mat-card>
</div>
