#registerCard {
  //width: 60%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  max-height: calc(92vh);
  margin-top: calc(5vh);
}
/*.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 50px;  Preferred icon size
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers.
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome.
  text-rendering: optimizeLegibility;

  /* Support for Firefox.
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE.
  font-feature-settings: "liga";
}
*/
.profilePictures {
  max-width: 200px;
  max-height: 200px;
}
#userPicture {
  border-radius: 50%;
}

.bannerImage {
  max-width: 100px;
  max-height: 50px;
}

.centerImage {
  margin: 0 auto;
}

.fill-space {
  flex: 1 1 auto;
}

.headerImage {
  width: 100%;
  text-align: center;
}


.full-length {
  width: 100%;
}

.nextButton {
  background-color: #0388ca;
  color: white;
}

/*.inline-row {
  flex: 1;
  margin-right: 10px;
  max-width: 40%;
}*/

/*.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
}*/

#storeAdrress {
  width: 40%;
}

#OptionalInformation {
  width: 33.3%
}

.circleBase {
  border-radius: 50%;
  //behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.orangeButton {
  background-color: #ff9800;
  color: #ffffff;
}

.purpleButton{
  background-color: #803E8B;
  color: white;
}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: #803E8B;
  color: rgba(255,255,255,.87);
}

::ng-deep .mat-horizontal-content-container {
  overflow: hidden;
  padding: 0 24px 0px 24px;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #9C27B0;
}

::ng-deep .mat-progress-bar-buffer {
  background: rgb(218, 154, 230);
}

::ng-deep .mat-progress-bar {
  border-radius: 0px;
}

.proggressBar{
  margin-top: 15px;
  width: 502px;
  margin-left: -17px;
}

// oculta las flechitas de los input=number
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

agm-map {
  height: 300px;
  width: auto;
}


.socialNetworks {
  display: grid;asd
  .network {
    display: inline-flex;
  }
}

.networkContainer {
  position: relative;
}

.networkIcon {
  position: absolute;
  top: 15px;
  z-index: 1;
}

.linkContainer {
  margin-left: 22px;
}

#socialNetwork {
  width: 100%;
}

.confirmationText {
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
}



#crp1 {
  max-width: 735px;
  height: 245px;
  margin-left: auto;
  margin-right: auto;
  border-style: double;
  border-color: rgb(189, 132, 199);
}

.cropButtonOne {
  position: absolute;
  z-index: 99;
  background: rgba(182, 182, 182, 0.9);
  right: 10rem;
  top: 0.3rem;
}

.cropButton {
  position: absolute;
  z-index: 99;
  background: rgba(182, 182, 182, 0.9);
  right: 0.3rem;
  top: 3.3rem;
}
