<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="backgroundColor container mat-typography">

  <div id="cardContainer" class="container" fxLayoutAlign="center center"></div>
  <mat-card id="registerCard">
    <mat-card-header>
      <!-- <span class="fill-space"></span> -->
      <div class="headerImage">
        <img src="/assets/brandNoBackground.png" class="centerImage bannerImage">
      </div>
    </mat-card-header>

    <div>
      <mat-horizontal-stepper #stepper [linear]="isLinear">
        <mat-step [stepControl]="step1">
          <form [formGroup]="registerStoreFormGroup">
            <ng-template matStepLabel>Usuario</ng-template>

            <div #firstStep style="display: flex; height: 435px;">

              <div style="display: block;margin-left: auto; margin-right:auto;">

                <mat-form-field style="display: block;">
                  <input matInput autofocus placeholder="Nombre de la Tienda" formControlName="storeName" [(ngModel)]="storeName">
                </mat-form-field>

                <div style="display: table-cell">
                  <div style="display: block; width: 200px; height: auto; position: relative;">
                    <div style="text-align: center;">
                      <div *ngIf="!(errorMessage === '')" style="color:red">
                        {{errorMessage}}
                      </div>
                      <label>Foto de Perfil</label>
                    </div>
                    <div #firstColumn>
                      <div class="circleBase" style="height: 200px;">

                        <!--  <object data="avatar.jpg" [src]="" type="image/jpg">
                          <img src="../../../../assets/noPhotoSelected.png" />
                        </object>
                      -->
                        <div>
                          <img *ngFor="let url of urlsProfile" [src]="url" class="rounded mb-3" height="200px" width="200px" style="display: block;">
                        </div>
                      </div>
                      <div>
                        <button class="purpleButton" type="button" mat-raised-button style="display: block; margin-left: auto; margin-right: auto; margin-top: 10px"
                          (click)="imgProfile.click()">Añade una foto</button>
                        <input hidden class="file-input" #imgProfile type="file" (change)="detectFilesProfile($event)">
                      </div>
                    </div>
                  </div>

                  <div style="display: grid; margin-top: 10px;">
                    <mat-form-field>
                      <input matInput placeholder="Telefono Personal" formControlName="storePhone">
                    </mat-form-field>
                  </div>
                </div>

              </div>
            </div>

            <div style="display: grid;">
              <div style="margin-left: auto">
                <button mat-mini-fab class="nextButton orangeButton" (click)="isStoreNameAvailable(stepper)">
                  <mat-icon>navigate_next</mat-icon>
                </button>
              </div>
            </div>
          </form>
        </mat-step>


        <mat-step [stepControl]="step2">
          <form [formGroup]="registerStoreFormGroup">
            <ng-template matStepLabel>Tienda</ng-template>
            <div>
              <div style="display: block; width: auto; height: auto; position: relative; margin-left: auto; margin-right: auto">
                <div #firstColumn>
                  <div style="height: 200px;">
                    <div *ngFor="let url of urlsPortada ;  let i=index">
                      <img [src]="url" class="rounded mb-3" height="200" style="display: block; margin-left: auto; margin-right: auto;">
                    </div>
                  </div>
                </div>
                <div>
                  <button class="purpleButton" type="button" mat-raised-button style="display: block; margin-left: auto; margin-right: auto; margin-top: 10px"
                    (click)="imgPortada.click()">Añade una portada a tu tienda</button>
                  <input hidden class="file-input" #imgPortada type="file" (change)="detectFilesPortada($event)">
                </div>
              </div>

              <div class="full-length">
                <mat-form-field class="full-length">
                  <textarea matInput placeholder="Descripción" formControlName="storeDescription" type="text" style="padding: 0"></textarea>
                </mat-form-field>
              </div>

            </div>
            <!-- <mat-form-field>
              <input matInput placeholder="Horarios de atención" formControlName="attendanceHours">
          </mat-form-field> -->

            <div style="display: flex">
              <mat-form-field style="width: 30%;">
                <input matInput placeholder="Provincia" formControlName="storeProvince">
              </mat-form-field>

              <mat-form-field style="width: 40%;">
                <input matInput placeholder="Ciudad" formControlName="storeCity">
              </mat-form-field>
            </div>

            <div style="display: flex">
              <mat-form-field id="storeAddress" style="width: 45%">
                <input matInput placeholder="Dirección" formControlName="storeAddress">
              </mat-form-field>

              <mat-form-field id="storeAddressNumber" style="width: 15%">
                <input matInput placeholder="N°" formControlName="storeAddressNumber">
              </mat-form-field>

              <mat-form-field id="storeFloor" style="width: 10%;">
                <input matInput placeholder="Piso" formControlName="storeFloor">
              </mat-form-field>

              <mat-form-field id="storeFloor" style="width: 10%;">
                <input matInput placeholder="Dpto" formControlName="storeFloor">
              </mat-form-field>

              <mat-form-field id="storeFloor" style="width: 20%;">
                <input matInput placeholder="Torre(opcional)" formControlName="storeFloor">
              </mat-form-field>
            </div>


            <mat-toolbar>
              <mat-toolbar-row style="background-color: white">
                <button mat-mini-fab matStepperPrevious class="nextButton orangeButton">
                  <mat-icon>navigate_before</mat-icon>
                </button>
                <span class="fill-space"></span>
                <button mat-mini-fab matStepperNext class="nextButton orangeButton" (click)="stepper.next()">
                  <mat-icon>navigate_next</mat-icon>
                </button>
              </mat-toolbar-row>
            </mat-toolbar>
          </form>
        </mat-step>




        <mat-step [stepControl]="step3">
          
            <ng-template matStepLabel>Confirmar Datos</ng-template>

            <mat-form-field class="full-length">
              <input matInput placeholder="Contraseña" [(ngModel)]='password' type="password">
            </mat-form-field>

            <mat-form-field class="full-length">
              <input matInput placeholder="Confirmar contraseña" [(ngModel)]='confirmPassword' type="password">
            </mat-form-field>

            <mat-toolbar>
              <mat-toolbar-row style="background-color: white">
                <button mat-mini-fab matStepperPrevious class="nextButton orangeButton">
                  <mat-icon>navigate_before</mat-icon>
                </button>
                <span class="fill-space"></span>
                <button mat-mini-fab matStepperNext class="nextButton orangeButton" (click)="tryRegister()">
                  <mat-icon class="material-icons">done</mat-icon>
                </button>
              </mat-toolbar-row>
            </mat-toolbar>
         
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </mat-card>
</div>