<mat-card class="mat-typography dashboard" style="top: 0">
            <div>
                <div id="graficos" class="graficos">
                    <mat-card class="graficoIndividual  mat-elevation-z6">
                            <!-- torta -->
                            <mat-icon class="infoTooltip" [matTooltip]="this.reactionsTooltip" matTooltipPosition="above" matTooltipClass="tooltip">info</mat-icon>
                            <app-donutchart *ngIf="readyToRender" [negativeInteractions]="negativeInteractions" [positiveInteractions]="positiveInteractions"></app-donutchart>
                    </mat-card>

                    <mat-card class="graficoIndividual  mat-elevation-z6">
                            <!-- barras -->
                            <mat-icon class="infoTooltip" [matTooltip]="this.tagsTooltip" matTooltipPosition="above" matTooltipClass="tooltip">info</mat-icon>
                            <app-polar-area *ngIf="readyToRender" [tagsWithpopularity]='tagsToRender'></app-polar-area>
                    </mat-card>
                </div>

                <div *ngIf="readyToRender" class="datos-brutos">
                    <mat-card class="dats mat-elevation-z6">
                        <h3>Usuarios Alcanzados</h3>
                        <h1>{{usersReached}}</h1>
                    </mat-card>
                    <mat-card class="dats mat-elevation-z6">
                        <h3>Visitas a tu tienda</h3>
                        <h1>{{visits.length}}</h1>
                    </mat-card>
                    <mat-card class="dats mat-elevation-z6">
                        <h3>Suscriptores</h3>
                        <h1>{{subscriptors}}</h1>
                    </mat-card>
                    <!-- <mat-card class="dats-reco mat-elevation-z6">
                        <h3>Puntajes en recomendaciones - Promedio de recomendaciones</h3>
                        <div class="content">
                          <h1 style="margin-left: 4rem;">{{answeredRecomendations}} / {{totalRecomendations}}</h1>
                          <p-rating style="margin-left: 7.5rem;" [(ngModel)]="feedBackProm"
                          [cancel]="false"
                          [readonly]="true"
                        ></p-rating>
                        <h1 *ngIf="!(feedBackProm > 0)">No Disponible</h1>
                                </div>
                    </mat-card> -->

                    <mat-card class="dats mat-elevation-z6">
                        <mat-icon class="infoTooltip" [matTooltip]="this.recomendacionesTooltip" matTooltipPosition="above" matTooltipClass="tooltip">info</mat-icon>
                        <h3>Puntajes en recomendaciones</h3>
                        <h1>{{answeredRecomendations}} / {{totalRecomendations}}</h1>
                    </mat-card>
                    <mat-card class="dats mat-elevation-z6">
                        <mat-icon class="infoTooltip" [matTooltip]="this.recomendacionesRatingTooltip" matTooltipPosition="above" matTooltipClass="tooltip">info</mat-icon>
                        <h3>Promedio de recomendaciones</h3>
                        <p-rating [(ngModel)]="feedBackProm"
                                  [cancel]="false"
                                  [readonly]="true"
                        ></p-rating>
                        <h1 *ngIf="!(feedBackProm > 0)">No Disponible</h1>
                    </mat-card>

                </div>

                <div *ngIf="readyToRender" class="timeline">
                  <mat-card class="mat-elevation-z6">
                      <mat-icon class="infoTooltip" [matTooltip]="this.graficosTooltip" matTooltipPosition="above" matTooltipClass="tooltip">info</mat-icon>
                      <app-timeline *ngIf="readyToRender" [interactionsByDay]="interactionsByDay" [daysOfTheWeek]="daysOfTheWeek" [reactionsByDay]="reactionsByDay" [visitByDay]="visitsByDay" [favoritesByDay]="favoriteByDay"></app-timeline>
                  </mat-card>
                </div>
            </div>
    </mat-card>
