.dashboard{
  max-width: 1707px;
}

#logo {
    width: 92px;
    height: 36px;
    padding-right: 3px;
  }

  mat-table {
    height: calc(100vh - 104px);
    overflow: auto;
  }

  .navbar{
    height: 48px;
    z-index: 10;
  }

  .right-icon {
    padding: 0 14px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  table{
      width: 100%;
  }

  #uploadArticle{
    background-color: #9C27B0 ;
    color: #ffffff
  }

  .img-size {
    max-width: 100px;
    max-height: 50px;
  }

  .centerImage {
    margin: 0 auto;
  }

  .actionIcon{
    color: #9C27B0;
    z-index: 9;
  }

  .stickyNavbar{
    background-color: #E1BEE7;
    height: 56px;
  }

  .profilePic{
  border-radius: 50%;
  height: 32px;
  margin: 8px 0 8px 24px;
  outline: 0;
  vertical-align: top;
  width: 32px;
  margin: 8px 0 8px 8px;
  }

  .mat-toolbar-multiple-rows {
    min-height: 0;
  }

  .mat-cell, .mat-footer-cell {
    min-width: 111px;
    padding-left: 1vw;
  }

  .mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: calc(100vh - 48px);
}

.mainContainer{
  margin-right:auto;
  margin-top: 10px
}

.dats{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: calc(11.6vw);
  height: calc(23vh);
  text-align: center;
}
