<mat-card class="mat-typography dashboard" style="top: 0">
            <div>
                <div id="graficos" class="graficos">
                    <mat-card class="graficoIndividual  mat-elevation-z6">
                            <!-- torta -->
                            <app-donutchart *ngIf="readyToRender" [negativeInteractions]="negativeInteractions" [positiveInteractions]="positiveInteractions"></app-donutchart>
                    </mat-card>

                    <mat-card class="graficoIndividual  mat-elevation-z6">
                            <!-- barras -->
                            <app-polar-area *ngIf="readyToRender" [tagsWithpopularity]='tagsToRender'></app-polar-area>
                    </mat-card>
                </div>

                <div *ngIf="readyToRender" class="datos-brutos">
                    <mat-card class="dats mat-elevation-z6">
                        <h3>Usuarios Alcanzados</h3>
                        <h1>{{usersReached}}</h1>
                    </mat-card>
                    <mat-card class="dats mat-elevation-z6">
                        <h3>Visitas a tu tienda</h3>
                        <h1>{{visits.length}}</h1>
                    </mat-card>
                    <mat-card class="dats mat-elevation-z6">
                        <h3>Suscriptores</h3>
                        <h1>{{subscriptors}}</h1>
                    </mat-card>
                    <mat-card class="dats mat-elevation-z6">
                        <h3>Puntaje promedio de Recomendaciones</h3>
                        <h1 *ngIf="feedBackProm > 0">{{feedBackProm | number:'1.0-2'}} de 5</h1>
                        <h1 *ngIf="!(feedBackProm > 0)">No Disponible</h1>
                    </mat-card>
                </div>

                <div *ngIf="readyToRender" class="timeline">
                  <mat-card class="mat-elevation-z6">
                      <app-timeline *ngIf="readyToRender" [interactionsByDay]="interactionsByDay" [daysOfTheWeek]="daysOfTheWeek" [reactionsByDay]="reactionsByDay" [visitByDay]="visitsByDay"></app-timeline>
                  </mat-card>
                </div>
            </div>
    </mat-card>
